@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300&family=Cedarville+Cursive&family=PT+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Alegreya Sans", sans-serif;
}

main,
aside,
footer {
  background-color: black;
  color: white;
}

body header .logoNav {
  margin: 23% 50% 18% -4%;
  width: 25px;
}

body main .intro a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

body main .intro a h1 {
  font-size: 1.9em;
  font-family: "Cedarville Cursive", cursive;
  font-weight: 800;
  text-align: center;
  margin: 13% 0% 2% -2%;
  padding: 59px 0px;
}

body main .intro .introH2 {
  font-size: 1.5em;
  margin: -9% 14% 6% 13%;
  text-align: center;
}

body main .intro .fotoIntro {
  width: 80%;
  margin: 0% 1% 8% 9%;
  border: 3px solid white;
  border-radius: 3px;
}

body main .intro .pIntro {
  font-size: 1.2em;
  margin: -3% 15% 10% 11%;
  text-align: center;
}

body main .nuevaCara .pNuevaCara {
  font-size: 1.1em;
  font-weight: 900;
  border-top: 2px solid white;
  margin: 0% 15% -1% 14%;
  padding: 35px 0px;
  text-align: center;
}

body main .nuevaCara form {
  background-color: #e5721b;
  color: white;
  width: 70%;
  height: 51vh;
  margin: -1% 30% 4% 15%;
  border: 3px solid white;
  border-radius: 18px;
}

body main .nuevaCara form .fieldsetContainer {
  color: white;
}

body main .nuevaCara form .fieldsetContainer fieldset legend h3 {
  font-size: 1em;
  font-weight: 900;
  font-family: "PT Sans", sans-serif;
  margin: 9% 4% 17% 3%;
  text-align: center;
}

body main .nuevaCara form .fieldsetContainer fieldset legend .pLegend {
  font-size: 0.75em;
  font-weight: 600;
  font-family: "PT Sans", sans-serif;
  margin: -5% 4% 3% 2%;
  text-align: center;
}

body main .nuevaCara form .fieldsetContainer fieldset .labels {
  font-size: 0.9em;
  font-weight: bold;
  font-family: "PT Sans", sans-serif;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body main .nuevaCara form .fieldsetContainer fieldset .labels .userType1 {
  margin: 4% -15% 11% -16%;
}

body main .nuevaCara form .fieldsetContainer fieldset .labels .userType1 a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

body main .nuevaCara form .fieldsetContainer fieldset .labels .userType2 {
  margin: 0% 30% 7% 9%;
}

body main .nuevaCara form .fieldsetContainer fieldset .labels .userType2 a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

body main .nuevaCara form .fieldsetContainer fieldset .labels .userType3 {
  margin: 3% 33% 7% 9%;
}

body main .nuevaCara form .fieldsetContainer fieldset .labels .userType3 a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

body main .nuevaCara .followUsContainer .pFollowUs {
  font-size: 1.3em;
  font-weight: 900;
  margin: 0% 12% 6% 13%;
  padding: 26px 1px;
  text-align: center;
}

body main .nuevaCara .followUsContainer a {
  text-decoration: none;
  color: #b4b4a4;
}

body aside .h2Article {
  margin: -7% 9% 7% 10%;
  padding: 26px 1px;
  border-top: 2px solid white;
  text-align: center;
  font-weight: 900;
  font-size: 1.3em;
}

body aside figure .imgArticle {
  width: 32%;
  margin: -3% 1% 8% 35%;
}

body aside figure figcaption {
  font-size: 1em;
  font-weight: 900;
  margin: -4% 7% 0% 8%;
  text-align: center;
}

body footer {
  margin: -6% 0% 0% 0%;
  padding: 18px 0px;
  font-size: 0.9em;
}

body footer .p1Footer {
  margin: 25% 3% 0% 3%;
  text-align: center;
}

body footer .p2Footer {
  margin: 5% 4% 3% 2%;
  text-align: center;
}

body footer a {
  text-decoration: none;
  color: #b4b4a4;
}

body main .intro .title3-A {
  font-size: 1.2em;
  margin: -9% 1% 1% -1%;
  text-align: center;
}

body main .intro .title3-B {
  font-size: 1.2em;
  margin: 9% 1% 10% -1%;
  text-align: center;
}

body main .intro .contactUs3 {
  width: 49%;
  margin: 1% 27% 1% 24%;
}

body main .contactForm .contact h2 {
  font-size: 1.5em;
  font-weight: 900;
  margin: 13% 27% 2% 23%;
  padding: 31px 0px;
  border-top: 2px solid white;
  text-align: center;
}

body main .contactForm .contact h3 {
  font-size: 1.1em;
  text-align: center;
  margin: 2% 11% 10% 10%;
}

body main .contactForm .contact .infoUser {
  font-size: 1em;
  text-align: center;
}

body main .contactForm .contact .infoUser .infoDelUsuario {
  margin: 5% 9% 6% 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body main .contactForm .contact .typeDeConsulta .typeDeConsultaH3 {
  font-size: 1em;
  text-align: center;
  margin: 8% 1% 0% 1%;
}

body main .contactForm .contact .typeDeConsulta .tipoDeC {
  margin: 1% 2% 15% 17%;
}

body main .contactForm .contact .typeDeConsulta .tipoDeC select {
  width: 98%;
  height: 5vh;
  text-align: center;
}

body main .contactForm .contact .mensaje {
  font-size: 1em;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: -7% 9% 0% 9%;
}

body main .contactForm .contact .novedades .novedadesH3 {
  font-size: 1em;
  text-align: center;
  margin: 11% 1% 4% 0%;
}

body main .contactForm .contact .novedades .answer {
  font-size: 1.2em;
  text-align: center;
  margin: 3% -12% 7% 19%;
}

body main .contactForm .contact .submit {
  width: 29%;
  padding: 6px 0px;
  font-size: 1.3em;
  font-weight: 900;
  margin: 5% 0% 11% 35%;
  text-align: center;
  background-color: white;
  border: 3px solid #2b2b2b;
  border-radius: 9px;
}

body main .contactForm .contact .submit:hover {
  background-color: #838383;
}

body main .contactForm .contact .submit a {
  text-decoration: none;
  color: black;
  font-weight: 900;
}

body main .contactForm .contact .submit a:hover {
  background-color: #838383;
  color: white;
}

body main .p3 {
  border-top: 2px solid white;
  font-size: 1.1em;
  font-weight: 900;
  text-align: center;
  margin: 0% 10% 0% 8%;
  padding: 26px 1px;
}

body main .intro h2 {
  font-size: 1.5em;
  margin: -9% 18% 6% 19%;
  text-align: center;
}

body main .intro .novedadesPic {
  width: 60%;
  height: 29vh;
  margin: 3% 10% 7% 19%;
  border: 3px solid white;
  border-radius: 4px;
}

body main .sorteos h2 {
  font-size: 1.5em;
  font-weight: 900;
  margin: 12% 29% 6% 25%;
  text-align: center;
  border-top: 2px solid white;
  padding: 28px 0px;
}

body main .sorteos h3 {
  font-size: 1.2em;
  text-align: center;
  margin: 0% 1% 6% 0%;
}

body main .sorteos img {
  width: 83%;
  margin: 3% 1% 5% 8%;
}

body main .sorteos p {
  font-size: 1.2em;
  font-weight: 300;
  text-align: center;
  margin: 1% 2% 10% 1%;
}

body main .patrocinadores h2 {
  font-size: 1.5em;
  font-weight: 900;
  margin: 12% 29% 6% 26%;
  text-align: center;
  border-top: 2px solid white;
  padding: 28px 0px;
}

body main .patrocinadores h3 {
  font-size: 1.2em;
  text-align: center;
  margin: 0% 1% 6% 0%;
}

body main .patrocinadores img {
  width: 83%;
  margin: 3% 1% 5% 8%;
}

body main .patrocinadores p {
  font-size: 1.2em;
  font-weight: 300;
  text-align: center;
  margin: 1% 2% 10% 1%;
}

body main .seguinos h2 {
  font-size: 1.5em;
  font-weight: 900;
  margin: 12% 26% 6% 25%;
  text-align: center;
  border-top: 2px solid white;
  padding: 28px 0px;
}

body main .seguinos h3 {
  font-size: 1.2em;
  text-align: center;
  margin: 0% 1% 6% 0%;
}

body main .seguinos img {
  width: 83%;
  margin: 3% 1% 5% 8%;
}

body main .seguinos p {
  font-size: 1.2em;
  font-weight: 300;
  text-align: center;
  margin: 1% 2% 5% 1%;
}

body main .intro h2 {
  font-size: 1.5em;
  font-weight: 500;
  margin: -9% 18% 6% 19%;
  text-align: center;
}

body main .intro .loMejorDeLaWebPic {
  width: 60%;
  height: 29vh;
  margin: 3% 10% 7% 19%;
  border: 1px solid white;
}

body main .memes h2 {
  font-size: 1.3em;
  font-weight: 900;
  margin: 9% 21% 10% 19%;
  padding: 35px 0px;
  text-align: center;
  border-top: 2px solid white;
}

body main .memes .memesContainer img {
  width: 70%;
  height: 41vh;
  margin: -10% 0% 20% 15%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid white;
  border-radius: 4px;
}

body main .memes .p1 {
  font-size: 1.3em;
  margin: -5% 21% 0% 19%;
  text-align: center;
}

body main .memes .p2 {
  font-size: 1.3em;
  margin: 3% 21% 9% 19%;
  text-align: center;
}

body main .youtubers h2 {
  font-size: 1.3em;
  font-weight: 900;
  margin: 2% 21% 0% 19%;
  padding: 35px 0px;
  text-align: center;
  border-top: 2px solid white;
}

body main .youtubers h3 {
  font-size: 1.1em;
  font-weight: 900;
  margin: 4% 20% 5% 19%;
  text-align: center;
}

body main .youtubers .youtubersIframe {
  position: relative;
  height: 0;
  padding-bottom: 50%;
  margin: -23px 1px 76px 25px;
}

body main .youtubers .youtubersIframe iframe {
  position: absolute;
  top: 14px;
  left: 0;
  width: 92%;
  height: 100%;
}

body main .canciones h2 {
  font-size: 1.3em;
  font-weight: 900;
  margin: 9% 21% 10% 19%;
  padding: 35px 0px;
  text-align: center;
  border-top: 2px solid white;
}

body main .canciones h3 {
  font-size: 1.1em;
  margin: -6% 2% 10% 0%;
  text-align: center;
}

body main .canciones iframe {
  margin: -4% 0% -4% 10%;
}

body main .canciones p {
  font-size: 1.1em;
  margin: 8% 8% 10% 7%;
  text-align: center;
}

body main .juegos h2 {
  font-size: 1.3em;
  font-weight: 900;
  margin: 9% 32% 10% 28%;
  padding: 35px 0px;
  text-align: center;
  border-top: 2px solid white;
}

body main .juegos .gamesList h3 {
  font-size: 1.1em;
  font-weight: 900;
  margin: 9% 21% 10% 18%;
  text-align: center;
}

body main .juegos .gamesList img {
  width: 59%;
  height: 21vh;
  margin: -6% 0% 3% 20%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid white;
  border-radius: 6px;
}

body main .podcasts h2 {
  font-size: 1.3em;
  font-weight: 900;
  margin: 9% 17% 10% 16%;
  padding: 35px 0px;
  text-align: center;
  border-top: 2px solid white;
}

body main .podcasts h3 {
  font-size: 1.1em;
  margin: 0% 2% 13% 0%;
  text-align: center;
}

body main .podcasts p {
  font-size: 1.1em;
  font-weight: 900;
  margin: 9% 7% 11% 5%;
  text-align: center;
}

body main .podcasts iframe {
  margin: -7% 1% 2% 10%;
}

body main .intro img {
  width: 70%;
  margin: -6% 0% 3% 15%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid white;
  border-radius: 18px;
}

body main .gotTheAnswer h2 {
  font-size: 1.3em;
  font-weight: 900;
  margin: 9% 21% 10% 19%;
  padding: 35px 0px;
  text-align: center;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}

body main .gotTheAnswer h3 {
  font-size: 1.1em;
  margin: 9% 2% 10% 0%;
  text-align: center;
}

body main .gotTheAnswer p {
  font-size: 1.1em;
  font-weight: 900;
  margin: 9% 21% 10% 19%;
  text-align: center;
}

body main .gotTheAnswer img {
  width: 87%;
  height: 32vh;
  margin: -2% 0% 3% 6%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 7px solid white;
}

body main .intro img {
  width: 70%;
  margin: -6% 0% 3% 15%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid white;
  border-radius: 18px;
}

body main .recibimosRta h2 {
  font-size: 1.3em;
  font-weight: 900;
  margin: 9% 21% 10% 19%;
  padding: 35px 0px;
  text-align: center;
  border-top: 2px solid white;
}

body main .recibimosRta h3 {
  font-size: 1.1em;
  margin: -14% 12% 10% 11%;
  padding: 34px 0px;
  text-align: center;
  border-bottom: 2px solid white;
}

body main .recibimosRta .pContainer {
  display: -ms-grid;
  display: grid;
  background-color: white;
  color: black;
  width: 64%;
  margin: 1% 2% 9% 17%;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #8f8f8f;
  border-radius: 14px;
}

body main .recibimosRta .pContainer .pContainerp1 {
  font-size: 1.1em;
  font-weight: 900;
  margin: 9% -6% 10% -7%;
  text-align: center;
}

body main .recibimosRta .pContainer .pContainerp2 {
  font-size: 1.1em;
  font-weight: 900;
  margin: -10% 21% 10% 19%;
  text-align: center;
}

body main .recibimosRta img {
  width: 60%;
  height: 31vh;
  margin: 1% 0% 3% 19%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 3px solid white;
}

@media (min-width: 480px) {
  body main .intro a h1 {
    font-size: 2.3em;
    margin: 13% 1% 5% 1%;
  }
  body main .intro .introH2 {
    font-size: 1.8em;
    margin: -9% 14% 9% 14%;
  }
  body main .intro .fotoIntro {
    width: 70%;
    height: 27vh;
    margin: 0% 1% 9% 15%;
  }
  body main .intro .pIntro {
    font-size: 1.3em;
    margin: -4% 11% 6% 11%;
  }
  body main .nuevaCara .pNuevaCara {
    font-size: 1.4em;
    margin: 0% 22% 2% 21%;
  }
  body main .nuevaCara form {
    width: 70%;
    height: 51vh;
    margin: -2% 30% 4% 15%;
  }
  body main .nuevaCara form .fieldsetContainer fieldset .labels {
    font-size: 1.2em;
  }
  body main .nuevaCara .followUsContainer .pFollowUs {
    font-size: 1.4em;
  }
  body aside {
    margin: -7% 0%;
  }
  body aside .h2Article {
    font-size: 1.6em;
    margin: -2% 12%;
    padding: 36px 0px;
  }
  body aside figure .imgArticle {
    margin: 8% 1% 8% 35%;
  }
  body aside figure figcaption {
    font-size: 1.4em;
  }
  body footer .p1Footer {
    font-size: 1.3em;
  }
  body footer .p2Footer {
    font-size: 1.3em;
    margin: 4% 1% 6% 1%;
  }
  body main .intro a h1 {
    font-size: 2.3em;
    margin: 13% 1% 5% 1%;
  }
  body main .intro .title3-A {
    font-size: 1.8em;
    margin: -7% 1% 0% 1%;
  }
  body main .intro .title3-B {
    font-size: 1.7em;
    margin: 10% 8% 5% 9%;
  }
  body main .intro .contactUs3 {
    width: 70%;
    height: 27vh;
    margin: 1% 0% 1% 15%;
  }
  body main .contactForm .contact h2 {
    font-size: 1.8em;
    margin: 12% 20% 4% 20%;
  }
  body main .contactForm .contact h3 {
    font-size: 1.6em;
    margin: 1% 13% 0% 14%;
  }
  body main .contactForm .contact .infoUser {
    font-size: 1.5em;
    margin: 12% 5% 1% 7%;
  }
  body main .contactForm .contact .typeDeConsulta .typeDeConsultaH3 {
    font-size: 1.5em;
    margin: 7% 1% 0% 1%;
  }
  body main .contactForm .contact .typeDeConsulta .tipoDeC select {
    margin: 1% 1% 1% 17%;
  }
  body main .contactForm .contact .mensaje {
    font-size: 1.5em;
    padding: 0px 24px;
  }
  body main .contactForm .contact .novedades .novedadesH3 {
    font-size: 1.3em;
  }
  body main .contactForm .contact .novedades .answer {
    font-size: 1.3em;
    margin: 1% -11% 1% 22%;
  }
  body main .contactForm .contact .submit {
    font-size: 1.5em;
    width: 35%;
    padding: 11px 0px;
    margin: 9% 1% 14% 32%;
  }
  body main .p3 {
    font-size: 1.4em;
    margin: -2% 13% 1% 11%;
  }
  body main .intro a h1 {
    font-size: 2.3em;
    margin: 13% 1% 5% 1%;
  }
  body main .intro h2 {
    font-size: 1.8em;
    margin: -9% 26% 6% 25%;
  }
  body main .intro .novedadesPic {
    width: 70%;
    height: 34vh;
    margin: 3% 10% 7% 15%;
  }
  body main .sorteos h2 {
    font-size: 1.7em;
    margin: 12% 19% 6% 19%;
  }
  body main .sorteos h3 {
    font-size: 1.5em;
  }
  body main .sorteos img {
    width: 70%;
    margin: 3% 1% 5% 14%;
  }
  body main .sorteos p {
    font-size: 1.5em;
  }
  body main .patrocinadores h2 {
    font-size: 1.7em;
    margin: 12% 19% 6% 19%;
  }
  body main .patrocinadores h3 {
    font-size: 1.5em;
  }
  body main .patrocinadores img {
    width: 70%;
    margin: 3% 1% 5% 14%;
  }
  body main .patrocinadores p {
    font-size: 1.5em;
  }
  body main .seguinos h2 {
    font-size: 1.7em;
    margin: 12% 19% 6% 19%;
  }
  body main .seguinos h3 {
    font-size: 1.5em;
  }
  body main .seguinos img {
    width: 70%;
    margin: 3% 1% 5% 14%;
  }
  body main .seguinos p {
    font-size: 1.5em;
  }
  body main .intro a h1 {
    font-size: 2.3em;
    margin: 13% 1% 5% 1%;
  }
  body main .intro h2 {
    font-size: 1.8em;
    margin: -9% 26% 6% 26%;
  }
  body main .intro .loMejorDeLaWebPic {
    width: 70%;
    height: 37vh;
    margin: 3% 10% 7% 15%;
  }
  body main .memes h2 {
    font-size: 1.7em;
    margin: 9% 20% 10% 18%;
  }
  body main .memes .memesContainer img {
    width: 70%;
    height: 47vh;
  }
  body main .memes .p1 {
    font-size: 1.6em;
  }
  body main .memes .p2 {
    font-size: 1.6em;
  }
  body main .youtubers h2 {
    font-size: 1.7em;
    margin: 9% 20% 10% 18%;
  }
  body main .youtubers h3 {
    font-size: 1.5em;
  }
  body main .youtubers .youtubersIframe iframe {
    left: 4px;
  }
  body main .canciones h2 {
    font-size: 1.7em;
    margin: 9% 20% 10% 18%;
  }
  body main .canciones h3 {
    font-size: 1.5em;
  }
  body main .canciones p {
    font-size: 1.5em;
  }
  body main .juegos h2 {
    font-size: 1.7em;
    margin: 9% 19% 10% 18%;
  }
  body main .juegos .gamesList h3 {
    font-size: 1.5em;
  }
  body main .juegos .gamesList img {
    height: 28vh;
  }
  body main .podcasts h2 {
    font-size: 1.7em;
    margin: 9% 20% 10% 18%;
  }
  body main .podcasts h3 {
    font-size: 1.5em;
    margin: 0% 1% 1% 0%;
  }
  body main .podcasts p {
    font-size: 1.5em;
    margin: 16% 1% 11% 0%;
  }
  body main .intro a h1 {
    font-size: 2.3em;
    margin: 13% 1% 5% 1%;
  }
  body main .intro img {
    width: 70%;
    height: 27vh;
    margin: -7% 1% 1% 15%;
  }
  body main .gotTheAnswer h2 {
    font-size: 1.7em;
    margin: 11% 15% 1% 15%;
  }
  body main .gotTheAnswer h3 {
    font-size: 1.5em;
    margin: 11% 1% -7% 0%;
  }
  body main .gotTheAnswer p {
    font-size: 1.5em;
    margin: 20% 1% 10% 1%;
  }
  body main .gotTheAnswer img {
    width: 80%;
    margin: -2% 0% 3% 10%;
  }
  body main .intro a h1 {
    font-size: 2.3em;
    margin: 13% 1% 5% 1%;
  }
  body main .intro img {
    width: 70%;
    height: 27vh;
    margin: -7% 1% 1% 15%;
  }
  body main .recibimosRta h2 {
    font-size: 1.7em;
    margin: 11% 15% 6% 16%;
  }
  body main .recibimosRta h3 {
    font-size: 1.4em;
    margin: -13% 15% 12% 16%;
  }
  body main .recibimosRta .pContainer {
    width: 69%;
    height: 19vh;
    margin: 1% 2% 9% 16%;
  }
  body main .recibimosRta .pContainer .pContainerp1 {
    font-size: 1.4em;
  }
  body main .recibimosRta .pContainer .pContainerp2 {
    font-size: 1.4em;
  }
  body main .recibimosRta img {
    width: 69%;
    height: 36vh;
    margin: 1% 0% 3% 16%;
  }
}

@media (min-width: 768px) {
  body main .intro a h1 {
    font-size: 3.9em;
    margin: 8% 1% 9% 0%;
  }
  body main .intro .introH2 {
    font-size: 2.7em;
    margin: -6% 3% 15% 3%;
  }
  body main .intro .fotoIntro {
    height: 35vh;
    width: 80%;
    margin: -2% 0% 10% 10%;
  }
  body main .intro .pIntro {
    font-size: 2.4em;
    margin: -1% 9% 8% 7%;
  }
  body main .nuevaCara .pNuevaCara {
    font-size: 2.4em;
    margin: 0% 15% 3% 14%;
  }
  body main .nuevaCara form {
    width: 70%;
    height: 51vh;
    margin: -2% 30% 4% 15%;
  }
  body main .nuevaCara form .fieldsetContainer fieldset legend h3 {
    font-size: 2em;
    margin: 9% 4% 12% 3%;
  }
  body main .nuevaCara form .fieldsetContainer fieldset legend .pLegend {
    font-size: 1.35em;
    margin: -4% 16% 5% 13%;
  }
  body main .nuevaCara form .fieldsetContainer fieldset .labels {
    font-size: 2em;
  }
  body main .nuevaCara form .fieldsetContainer fieldset .labels .userType1 {
    margin: 1% 6% 6% 1%;
  }
  body main .nuevaCara form .fieldsetContainer fieldset .labels .userType2 {
    margin: 1% 6% 6% -19%;
  }
  body main .nuevaCara form .fieldsetContainer fieldset .labels .userType3 {
    margin: 1% 6% 6% -19%;
  }
  body main .nuevaCara .followUsContainer .pFollowUs {
    font-size: 2.4em;
    margin: 0% 19% 7% 17%;
  }
  body aside {
    margin: -7% 0%;
  }
  body aside .h2Article {
    font-size: 2.4em;
    margin: -2% 17% 1% 15%;
  }
  body aside figure .imgArticle {
    width: 44%;
    margin: 4% 1% 10% 28%;
  }
  body aside figure figcaption {
    font-size: 2.2em;
    margin: -2% 0% 0% 0%;
  }
  body footer .p1Footer {
    font-size: 2.1em;
  }
  body footer .p2Footer {
    font-size: 2.1em;
  }
  body main .intro a h1 {
    font-size: 3.5em;
    margin: 8% 1% 7% 1%;
  }
  body main .intro .title3-A {
    font-size: 2.5em;
    margin: -6% 5% 11% 4%;
  }
  body main .intro .title3-B {
    font-size: 2.5em;
  }
  body main .intro .contactUs3 {
    height: 35vh;
    width: 75%;
    margin: -2% 0% 10% 12%;
  }
  body main .contactForm .contact h2 {
    font-size: 2.5em;
    margin: 1% 20% 7% 20%;
  }
  body main .contactForm .contact h3 {
    font-size: 2.3em;
    margin: 1% 18% 1% 17%;
  }
  body main .contactForm .contact .infoUser {
    font-size: 2.1em;
  }
  body main .contactForm .contact .typeDeConsulta .typeDeConsultaH3 {
    font-size: 2.1em;
    margin: 8% 1% 0% 1%;
  }
  body main .contactForm .contact .typeDeConsulta .tipoDeC select {
    margin: 1% 1% 1% -5%;
    padding: 1px 170px;
  }
  body main .contactForm .contact .mensaje {
    font-size: 2.1em;
    padding: 0px 29px;
  }
  body main .contactForm .contact .novedades .novedadesH3 {
    font-size: 2.1em;
  }
  body main .contactForm .contact .novedades .answer {
    font-size: 2.1em;
    margin: 1% -7% 1% 22%;
  }
  body main .contactForm .contact .submit {
    font-size: 2.3em;
    padding: 17px 0px;
    margin: 8% 1% 13% 33%;
  }
  body main .p3 {
    font-size: 2.5em;
    margin: -2% 14% 6% 12%;
  }
  body footer {
    margin: -7% 0% 0% 0%;
  }
  body main .intro a h1 {
    font-size: 3.5em;
    margin: 8% 1% 7% 1%;
  }
  body main .intro h2 {
    font-size: 2.5em;
    margin: -6% 5% 11% 4%;
  }
  body main .intro .novedadesPic {
    width: 60%;
    height: 28vh;
    margin: -1% 0% 3% 20%;
  }
  body main .sorteos h2 {
    font-size: 2.9em;
    margin: 12% 33% 6% 31%;
  }
  body main .sorteos h3 {
    font-size: 2.5em;
  }
  body main .sorteos p {
    font-size: 2.5em;
  }
  body main .patrocinadores h2 {
    font-size: 2.9em;
    margin: 12% 33% 6% 31%;
  }
  body main .patrocinadores h3 {
    font-size: 2.5em;
  }
  body main .patrocinadores p {
    font-size: 2.5em;
  }
  body main .seguinos h2 {
    font-size: 2.9em;
    margin: 12% 33% 6% 31%;
  }
  body main .seguinos h3 {
    font-size: 2.5em;
  }
  body main .seguinos p {
    font-size: 2.5em;
  }
  body main .intro a h1 {
    font-size: 3.9em;
    margin: 8% 1% 9% 0%;
  }
  body main .intro h2 {
    font-size: 2.5em;
    margin: -6% 5% 11% 4%;
  }
  body main .intro .loMejorDeLaWebPic {
    width: 60%;
    height: 28vh;
    margin: -1% 0% 3% 20%;
  }
  body main .memes h2 {
    font-size: 2.9em;
    margin: 8% 21% 13% 21%;
  }
  body main .memes .p1 {
    font-size: 2.3em;
  }
  body main .memes .p2 {
    font-size: 2.3em;
    margin: 4% 1% 0% 0%;
  }
  body main .youtubers h2 {
    font-size: 2.9em;
    margin: 8% 21% 13% 21%;
  }
  body main .youtubers h3 {
    font-size: 2.3em;
  }
  body main .youtubers .youtubersIframe iframe {
    left: 15px;
  }
  body main .canciones h2 {
    font-size: 2.9em;
    margin: 8% 21% 13% 21%;
  }
  body main .canciones h3 {
    font-size: 2.3em;
  }
  body main .canciones iframe {
    padding: 0px 11px;
    margin: -2% 1% -1% 10%;
    height: 50vh;
  }
  body main .canciones p {
    font-size: 2.3em;
    margin: 8% 11% 0% 13%;
  }
  body main .juegos h2 {
    font-size: 2.9em;
    margin: 8% 13% 13% 14%;
  }
  body main .juegos .gamesList h3 {
    font-size: 2.3em;
    margin: 9% 1% 9% 1%;
  }
  body main .juegos .gamesList img {
    height: 28vh;
  }
  body main .podcasts h2 {
    font-size: 2.9em;
    margin: 8% 23% 8% 22%;
  }
  body main .podcasts h3 {
    font-size: 2.3em;
  }
  body main .podcasts p {
    font-size: 2.3em;
    margin: 10% 1% 10% -3%;
  }
  body main .podcasts iframe {
    margin: -6% 1% 2% 9%;
  }
  body main .intro a h1 {
    font-size: 3.5em;
    margin: 8% 1% 7% 1%;
  }
  body main .intro h2 {
    font-size: 2.5em;
    margin: -6% 5% 11% 4%;
  }
  body main .intro img {
    width: 60%;
    height: 28vh;
    margin: -1% 0% 3% 20%;
  }
  body main .gotTheAnswer h2 {
    font-size: 2.6em;
    margin: 8% 30% 1% 27%;
  }
  body main .gotTheAnswer h3 {
    font-size: 2.4em;
    margin: 13% 1% 0% 0%;
  }
  body main .gotTheAnswer p {
    font-size: 2.4em;
    margin: 14% 1% 10% -1%;
  }
  body main .gotTheAnswer img {
    width: 68%;
    height: 31vh;
    margin: -2% 0% 3% 16%;
  }
  body main .intro a h1 {
    font-size: 3.9em;
    margin: 8% 1% 9% 0%;
  }
  body main .intro img {
    width: 70%;
    height: 31vh;
    margin: -6% 0% 4% 15%;
  }
  body main .recibimosRta h2 {
    font-size: 2.4em;
    margin: 7% 11% 18% 11%;
  }
  body main .recibimosRta h3 {
    font-size: 2.2em;
    margin: -17% 11% 10% 12%;
  }
  body main .recibimosRta .pContainer {
    height: 22vh;
  }
  body main .recibimosRta .pContainer .pContainerp1 {
    font-size: 2.4em;
    margin: 9% -3% 9% -3%;
  }
  body main .recibimosRta .pContainer .pContainerp2 {
    font-size: 2.4em;
  }
  body main .recibimosRta img {
    width: 67%;
    height: 39vh;
    margin: 1% 0% 3% 17%;
  }
}

@media (min-width: 1024px) {
  body main {
    margin: -2% 0%;
  }
  body main .intro a h1 {
    font-size: 4.1em;
    margin: 8% 1% 9% 2%;
  }
  body main .intro .introH2 {
    font-size: 2.9em;
    margin: -6% 3% 13% 5%;
  }
  body main .intro .fotoIntro {
    height: 34vh;
    width: 60%;
    margin: -2% 0% 10% 21%;
  }
  body main .intro .pIntro {
    font-size: 2.5em;
  }
  body main .nuevaCara .pNuevaCara {
    font-size: 2.5em;
  }
  body main .nuevaCara form {
    width: 70%;
    height: 68vh;
  }
  body main .nuevaCara form .fieldsetContainer fieldset legend h3 {
    margin: 9% 18% 12% 19%;
  }
  body main .nuevaCara form .fieldsetContainer fieldset legend .pLegend {
    margin: -4% 24% 5% 24%;
  }
  body main .nuevaCara form .fieldsetContainer fieldset .labels .userType1 {
    margin: 1% 6% 6% 3%;
  }
  body main .nuevaCara form .fieldsetContainer fieldset .labels .userType2 {
    margin: 1% 6% 6% -12%;
  }
  body main .nuevaCara form .fieldsetContainer fieldset .labels .userType3 {
    margin: 1% 6% 6% -14%;
  }
  body main .nuevaCara .followUsContainer .pFollowUs {
    font-size: 2.5em;
    margin: 0% 19% 7% 19%;
  }
  body aside {
    margin: -8% 0%;
  }
  body aside .h2Article {
    font-size: 2.5em;
    margin: -2% 15% 1% 16%;
  }
  body aside figure .imgArticle {
    width: 41%;
    margin: 4% 1% 10% 30%;
  }
  body aside figure figcaption {
    font-size: 2.2em;
    margin: -6% 0% 0% 2%;
  }
  body footer .p1Footer {
    margin: 22% 6% -2% 6%;
  }
  body footer .p2Footer {
    margin: 4% 0% 4% 1%;
  }
  body main .intro .title3-A {
    font-size: 2.7em;
    margin: -6% 5% 11% 6%;
  }
  body main .intro .title3-B {
    font-size: 2.7em;
    margin: -3% 1% 7% 2%;
  }
  body main .intro .contactUs3 {
    height: 38vh;
    width: 49%;
    margin: -2% 0% 10% 26%;
  }
  body main .contactForm .contact h2 {
    font-size: 2.7em;
    margin: 1% 25% 7% 26%;
  }
  body main .contactForm .contact h3 {
    font-size: 2.5em;
    margin: -1% 18% -3% 19%;
  }
  body main .contactForm .contact .infoUser {
    font-size: 2.5em;
  }
  body main .contactForm .contact .infoUser .infoDelUsuario {
    margin: 5% 17% 6% 16%;
  }
  body main .contactForm .contact .typeDeConsulta .typeDeConsultaH3 {
    font-size: 2.5em;
    margin: 7% 0% 0% 1%;
  }
  body main .contactForm .contact .typeDeConsulta .tipoDeC select {
    margin: 1% 1% 1% 7%;
    padding: 0px 186px;
    height: 6vh;
  }
  body main .contactForm .contact .mensaje {
    font-size: 2.5em;
    padding: 0px 111px;
    margin: -8% 9% 0% 10%;
  }
  body main .contactForm .contact .novedades .novedadesH3 {
    font-size: 2.5em;
  }
  body main .contactForm .contact .novedades .answer {
    font-size: 2.5em;
    margin: 1% -18% 1% 27%;
  }
  body main .contactForm .contact .submit {
    font-size: 2.5em;
    padding: 26px 0px;
    margin: 8% 1% 13% 36%;
    width: 27%;
  }
  body main .contactForm .p3 {
    margin: -2% 16% 6% 16%;
  }
  body main .intro h2 {
    margin: -10% 1% 9% 2%;
  }
  body main .intro .novedadesPic {
    width: 40%;
    height: 36vh;
    margin: 0% 0% 3% 31%;
  }
  body main .sorteos h2 {
    font-size: 3em;
    margin: 12% 32% 6% 33%;
  }
  body main .sorteos h3 {
    font-size: 2.7em;
    margin: -2% 0% 6% 1%;
  }
  body main .sorteos img {
    width: 65%;
    margin: 3% 1% 5% 18%;
  }
  body main .sorteos p {
    font-size: 2.7em;
    margin: 0% 1% -2% 1%;
  }
  body main .patrocinadores h2 {
    font-size: 3em;
    margin: 12% 32% 6% 33%;
  }
  body main .patrocinadores h3 {
    font-size: 2.7em;
    margin: -2% 0% 6% 1%;
  }
  body main .patrocinadores img {
    width: 65%;
    margin: 3% 1% 5% 18%;
  }
  body main .patrocinadores p {
    font-size: 2.7em;
    margin: 0% 1% -2% 2%;
  }
  body main .seguinos h2 {
    font-size: 3em;
    margin: 12% 32% 6% 33%;
  }
  body main .seguinos h3 {
    font-size: 2.7em;
    margin: -2% 0% 6% 1%;
  }
  body main .seguinos img {
    width: 65%;
    margin: 3% 1% 5% 18%;
  }
  body main .seguinos p {
    font-size: 2.7em;
    margin: 0% 1% -2% 1%;
  }
  body main .intro .loMejorDeLaWebPic {
    width: 50%;
    height: 36vh;
    margin: -1% 0% 3% 25%;
  }
  body main .memes h2 {
    margin: 8% 26% 5% 26%;
  }
  body main .memes .memesContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body main .memes .memesContainer img {
    width: 46%;
    height: 54vh;
    margin: 0% 1% 5% 28%;
  }
  body main .memes .p1 {
    font-size: 2.5em;
    margin: 4% 0%;
  }
  body main .memes .p2 {
    font-size: 2.5em;
  }
  body main .youtubers h2 {
    margin: 8% 14% 5% 15%;
  }
  body main .youtubers h3 {
    font-size: 2.5em;
    margin: 13% 1% 4% 1%;
  }
  body main .youtubers .youtubersIframe iframe {
    left: 26px;
  }
  body main .canciones h2 {
    margin: 17% 12% 12% 12%;
  }
  body main .canciones h3 {
    font-size: 2.5em;
    margin: -6% 1% 10% 1%;
  }
  body main .canciones iframe {
    padding: 0px 136px;
    margin: -2% 1% -1% 10%;
    height: 54vh;
  }
  body main .canciones p {
    font-size: 2.5em;
    margin: 8% 11% 0% 10%;
  }
  body main .juegos h2 {
    margin: 8% 22% 5% 23%;
  }
  body main .juegos .gamesList h3 {
    font-size: 2.5em;
  }
  body main .juegos .gamesList img {
    height: 36vh;
  }
  body main .podcasts h2 {
    margin: 8% 19% 5% 19%;
  }
  body main .podcasts h3 {
    font-size: 2.5em;
    margin: 0% 1%;
  }
  body main .podcasts p {
    font-size: 2.5em;
    margin: 10% 1% 10% 0%;
  }
  body main .podcasts iframe {
    margin: -8% 1% 0% 10%;
  }
  body main .gotTheAnswer h2 {
    font-size: 2.7em;
    margin: 8% 23% -3% 25%;
  }
  body main .gotTheAnswer h3 {
    font-size: 2.5em;
    margin: 12% 0% -3% 0%;
  }
  body main .gotTheAnswer p {
    font-size: 2.5em;
    margin: 14% 1% 10% 3%;
  }
  body main .gotTheAnswer img {
    width: 50%;
    height: 35vh;
    margin: -2% 0% 3% 26%;
  }
  body main .intro img {
    width: 52%;
    height: 35vh;
    margin: -6% 0% 4% 25%;
  }
  body main .recibimosRta h2 {
    font-size: 2.5em;
    margin: 7% 14% 18% 16%;
  }
  body main .recibimosRta h3 {
    font-size: 2.4em;
    margin: -17% 14% 10% 16%;
  }
  body main .recibimosRta .pContainer {
    height: 24vh;
    width: 60%;
    margin: 0% 5% 9% 21%;
  }
  body main .recibimosRta img {
    width: 51%;
    margin: 1% 0% 3% 25%;
  }
}

@media (min-width: 1440px) {
  body main {
    margin: -7% 0%;
  }
  body main .intro a h1 {
    font-size: 5em;
    margin: 11% 1% 9% 3%;
  }
  body main .intro .introH2 {
    font-size: 3.5em;
  }
  body main .intro .fotoIntro {
    height: 42vh;
    width: 49%;
    margin: -3% 0% 10% 26%;
  }
  body main .intro .pIntro {
    font-size: 3.5em;
    margin: -2% 14% 7% 15%;
  }
  body main .nuevaCara .pNuevaCara {
    font-size: 3.5em;
    margin: 0% 26% 7% 26%;
  }
  body main .nuevaCara form {
    height: 94vh;
  }
  body main .nuevaCara form .fieldsetContainer fieldset legend h3 {
    font-size: 2.5em;
  }
  body main .nuevaCara form .fieldsetContainer fieldset legend .pLegend {
    margin: -4% 16% 5% 16%;
    font-size: 2.1em;
  }
  body main .nuevaCara form .fieldsetContainer fieldset .labels {
    font-size: 2.7em;
  }
  body main .nuevaCara form .fieldsetContainer fieldset .labels .userType1 {
    margin: 2% 6% 6% 3%;
  }
  body main .nuevaCara form .fieldsetContainer fieldset .labels .userType2 {
    margin: 1% 6% 6% -11%;
  }
  body main .nuevaCara form .fieldsetContainer fieldset .labels .userType3 {
    margin: 1% 6% 6% -13%;
  }
  body main .nuevaCara .followUsContainer .pFollowUs {
    font-size: 3.5em;
    margin: 0% 19% 7% 19%;
  }
  body aside .h2Article {
    font-size: 3.1em;
  }
  body aside figure .imgArticle {
    width: 41%;
    margin: 7% 1% 10% 30%;
  }
  body aside figure figcaption {
    font-size: 3em;
  }
  body footer .p1Footer {
    font-size: 2.5em;
    margin: 22% 10% -2% 11%;
  }
  body footer .p2Footer {
    font-size: 2.5em;
    margin: 4% 0% 4% 2%;
  }
  body main .intro .title3-A {
    font-size: 3.5em;
    margin: -7% 1% 10% 4%;
  }
  body main .intro .title3-B {
    font-size: 3.5em;
    margin: -3% 1% 8% 2%;
  }
  body main .intro .contactUs3 {
    height: 35vh;
    width: 42%;
    margin: -2% 0% 10% 31%;
  }
  body main .contactForm .contact h2 {
    font-size: 3.5em;
    margin: 1% 27% 7% 31%;
  }
  body main .contactForm .contact h3 {
    font-size: 3.3em;
    margin: -1% 22% -3% 27%;
  }
  body main .contactForm .contact .infoUser {
    font-size: 3.1em;
  }
  body main .contactForm .contact .infoUser .infoDelUsuario {
    margin: 5% 20% 6% 23%;
  }
  body main .contactForm .contact .typeDeConsulta .typeDeConsultaH3 {
    font-size: 3.1em;
    margin: 7% 0% 0% 5%;
  }
  body main .contactForm .contact .typeDeConsulta .tipoDeC {
    margin: 1% 2% 15% 24%;
  }
  body main .contactForm .contact .typeDeConsulta .tipoDeC select {
    margin: 0% 1% 1% 6%;
    padding: 0px 249px;
    height: 7vh;
  }
  body main .contactForm .contact .mensaje {
    font-size: 3.1em;
    padding: 0px 231px;
    margin: -8% 6% 0% 11%;
  }
  body main .contactForm .contact .novedades .novedadesH3 {
    font-size: 3.5em;
  }
  body main .contactForm .contact .novedades .answer {
    font-size: 3.1em;
    margin: 1% -12% 1% 28%;
  }
  body main .contactForm .contact .submit {
    font-size: 3.1em;
    padding: 23px 0px;
    margin: 9% 1% 13% 41%;
    width: 21%;
  }
  body main .contactForm .p3 {
    margin: -2% 23% 6% 25%;
    font-size: 3.3em;
  }
  body main .intro h2 {
    margin: -6% 1% 9% 3%;
    font-size: 3.5em;
  }
  body main .intro .novedadesPic {
    width: 50%;
    height: 49vh;
    margin: 0% 0% 2% 27%;
  }
  body main .sorteos h2 {
    font-size: 3.5em;
    margin: 12% 23% 6% 26%;
  }
  body main .sorteos h3 {
    font-size: 3.3em;
    margin: -2% 0% 6% 3%;
  }
  body main .sorteos img {
    width: 60%;
    margin: 3% 1% 5% 22%;
  }
  body main .sorteos p {
    font-size: 3.3em;
    margin: 0% 1% -2% 5%;
  }
  body main .patrocinadores h2 {
    font-size: 3.5em;
    margin: 12% 23% 6% 26%;
  }
  body main .patrocinadores h3 {
    font-size: 3.3em;
    margin: -2% 0% 6% 3%;
  }
  body main .patrocinadores img {
    width: 60%;
    margin: 3% 1% 5% 22%;
  }
  body main .patrocinadores p {
    font-size: 3.3em;
    margin: 0% 1% -2% 4%;
  }
  body main .seguinos h2 {
    font-size: 3.5em;
    margin: 12% 23% 6% 26%;
  }
  body main .seguinos h3 {
    font-size: 3.3em;
    margin: -2% 0% 6% 3%;
  }
  body main .seguinos img {
    width: 60%;
    margin: 3% 1% 5% 22%;
  }
  body main .seguinos p {
    font-size: 3.3em;
    margin: 0% 1% -2% 4%;
  }
  body main .intro .loMejorDeLaWebPic {
    height: 50vh;
    margin: -1% 0% 3% 26%;
  }
  body main .memes h2 {
    margin: 8% 24% 5% 26%;
    font-size: 3.5em;
  }
  body main .memes .memesContainer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  body main .memes .memesContainer img {
    width: 38%;
    height: 62vh;
    margin: 0% -4% 9% 9%;
  }
  body main .memes .memesContainer img:last-child {
    margin: 1% 1% 1% 31%;
  }
  body main .memes .p1 {
    font-size: 3.3em;
    margin: 7% 2% 0% 1%;
  }
  body main .memes .p2 {
    font-size: 3.3em;
    margin: 3% 2% -1% 0%;
  }
  body main .youtubers h2 {
    font-size: 3.5em;
    margin: 8% 20% -3% 21%;
  }
  body main .youtubers h3 {
    font-size: 3.2em;
    margin: 10% 1% 3% 1%;
  }
  body main .youtubers .youtubersIframe {
    margin: -23px 148px 76px 180px;
  }
  body main .canciones h2 {
    font-size: 3.5em;
    margin: 17% 15% 12% 15%;
  }
  body main .canciones h3 {
    font-size: 3.2em;
    margin: -6% 1% 10% -1%;
  }
  body main .canciones iframe {
    padding: 0px 175px;
    margin: -2% -14% -1% 9%;
    height: 74vh;
  }
  body main .canciones p {
    font-size: 3.2em;
    margin: 8% 22% 0% 20%;
  }
  body main .juegos h2 {
    margin: 8% 22% 5% 20%;
    font-size: 3.5em;
  }
  body main .juegos .gamesList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  body main .juegos .gamesList h3:nth-child(1) {
    margin: 1% 1% 1% 15%;
    font-size: 3.2em;
  }
  body main .juegos .gamesList h3:nth-child(3) {
    margin: 1% 1% 1% 20%;
    font-size: 3.2em;
  }
  body main .juegos .gamesList h3:nth-child(5) {
    margin: -5% 1% 5% 11%;
    font-size: 3.2em;
  }
  body main .juegos .gamesList h3:nth-child(7) {
    margin: -5% 1% 1% 21%;
    font-size: 3.2em;
  }
  body main .juegos .gamesList h3:nth-child(9) {
    margin: 7% 1% 1% 38%;
    font-size: 3.2em;
  }
  body main .juegos .gamesList img:nth-child(2) {
    width: 38%;
    height: 46vh;
    margin: 7% 1% 1% -31%;
  }
  body main .juegos .gamesList img:nth-child(4) {
    width: 38%;
    height: 46vh;
    margin: -34% 1% 13% 55%;
  }
  body main .juegos .gamesList img:nth-child(6) {
    width: 38%;
    height: 46vh;
    margin: 1% 1% 1% -34%;
  }
  body main .juegos .gamesList img:nth-child(8) {
    width: 38%;
    height: 46vh;
    margin: -34% 0% 1% 55%;
  }
  body main .juegos .gamesList img:nth-child(10) {
    width: 38%;
    height: 46vh;
    margin: 13% -10% 5% -33%;
  }
  body main .podcasts h2 {
    margin: 8% 10% 5% 10%;
    font-size: 3.5em;
  }
  body main .podcasts h3 {
    font-size: 3.2em;
    margin: 8% 1% -1% 2%;
  }
  body main .podcasts p {
    font-size: 3.2em;
    margin: 10% 1% 10% 1%;
  }
  body main .gotTheAnswer h2 {
    font-size: 3.5em;
    margin: 8% 24% -3% 27%;
  }
  body main .gotTheAnswer h3 {
    font-size: 3.5em;
    margin: 12% 0% -3% 2%;
  }
  body main .gotTheAnswer p {
    font-size: 3.5em;
    margin: 14% 1% 10% 3%;
  }
  body main .gotTheAnswer img {
    width: 40%;
    height: 44vh;
    margin: -2% 0% 3% 31%;
  }
  body main .intro img {
    width: 40%;
    height: 33vh;
    margin: -6% 0% 3% 31%;
  }
  body main .recibimosRta h2 {
    font-size: 3.5em;
    margin: 8% 12% 18% 16%;
  }
  body main .recibimosRta h3 {
    font-size: 3.5em;
    margin: -17% 12% 10% 16%;
  }
  body main .recibimosRta .pContainer {
    height: 26vh;
    width: 49%;
    margin: 0% 5% 9% 27%;
  }
  body main .recibimosRta .pContainer .pContainerp1 {
    font-size: 3.2em;
  }
  body main .recibimosRta .pContainer .pContainerp2 {
    font-size: 3.2em;
  }
  body main .recibimosRta img {
    width: 30%;
    margin: 1% 0% 3% 36%;
  }
}

@media (min-width: 1600px) {
  body main .intro a h1 {
    margin: 11% 1% 9% 2%;
  }
  body main .intro .pIntro {
    margin: -2% 17% 7% 19%;
  }
  body main .nuevaCara .pNuevaCara {
    font-size: 3.5em;
    margin: 0% 23% 7% 24%;
  }
  body main .nuevaCara form {
    height: 90vh;
  }
  body main .nuevaCara form .fieldsetContainer fieldset legend h3 {
    margin: 7% 1% 12% 1%;
  }
  body main .nuevaCara form .fieldsetContainer fieldset legend .pLegend {
    margin: -4% 20% 5% 20%;
  }
  body main .nuevaCara form .fieldsetContainer fieldset .labels {
    font-size: 2.9em;
  }
  body main .nuevaCara form .fieldsetContainer fieldset .labels .userType1 {
    margin: 2% 6% 6% 5%;
  }
  body main .nuevaCara form .fieldsetContainer fieldset .labels .userType2 {
    margin: 1% 6% 6% -9%;
  }
  body main .nuevaCara form .fieldsetContainer fieldset .labels .userType3 {
    margin: 1% 6% 6% -11%;
  }
  body main .nuevaCara .followUsContainer .pFollowUs {
    margin: 0% 23% 7% 23%;
  }
  body aside .h2Article {
    font-size: 3.1em;
    margin: 8% 23% 1% 24%;
  }
  body aside figure figcaption {
    margin: -6% 0% 0% 1%;
  }
  body footer .p1Footer {
    font-size: 2.8em;
  }
  body footer .p2Footer {
    font-size: 2.8em;
  }
  body main .intro .title3-A {
    font-size: 4em;
  }
  body main .intro .title3-B {
    font-size: 4em;
  }
  body main .intro .contactUs3 {
    height: 44vh;
    width: 40%;
    margin: -2% 0% 10% 30%;
  }
  body main .contactForm .contact h2 {
    font-size: 4em;
    margin: 1% 29% 7% 29%;
  }
  body main .contactForm .contact h3 {
    font-size: 3.5em;
    margin: -1% 24% -3% 25%;
  }
  body main .contactForm .contact .infoUser {
    font-size: 3.5em;
  }
  body main .contactForm .contact .infoUser .infoDelUsuario {
    margin: 5% 23% 6% 22%;
  }
  body main .contactForm .contact .typeDeConsulta .typeDeConsultaH3 {
    font-size: 3.5em;
    margin: 7% 0% 0% 1%;
  }
  body main .contactForm .contact .typeDeConsulta .tipoDeC select {
    margin: 0% 1% 1% 5%;
    padding: 0px 274px;
    height: 8vh;
  }
  body main .contactForm .contact .mensaje {
    font-size: 3.5em;
    padding: 0px 263px;
    margin: -9% 8% 0% 10%;
  }
  body main .contactForm .contact .novedades .answer {
    font-size: 3.3em;
  }
  body main .contactForm .contact .submit {
    font-size: 3.5em;
    padding: 32px 0px;
    margin: 9% 1% 13% 40%;
    width: 21%;
  }
  body main .contactForm .p3 {
    margin: -2% 19% 6% 20%;
    font-size: 3.5em;
  }
  body main .intro h2 {
    margin: -6% 1% 9% 1%;
  }
  body main .intro .novedadesPic {
    width: 52%;
    height: 55vh;
    margin: 0% 0% 2% 24%;
  }
  body main .sorteos h2 {
    font-size: 4em;
    margin: 12% 21% 6% 22%;
  }
  body main .sorteos h3 {
    margin: -1% 0% 6% 0%;
  }
  body main .sorteos img {
    margin: 3% 1% 5% 20%;
  }
  body main .sorteos p {
    margin: 0% 1% -2% 0%;
  }
  body main .patrocinadores h2 {
    font-size: 4em;
    margin: 12% 21% 6% 21%;
  }
  body main .patrocinadores h3 {
    margin: -1% 0% 6% 0%;
  }
  body main .patrocinadores img {
    margin: 3% 1% 5% 20%;
  }
  body main .patrocinadores p {
    margin: 0% 1% -2% 0%;
  }
  body main .seguinos h2 {
    font-size: 4em;
    margin: 12% 21% 6% 21%;
  }
  body main .seguinos h3 {
    margin: -1% 0% 6% 0%;
  }
  body main .seguinos img {
    margin: 3% 1% 5% 20%;
  }
  body main .seguinos p {
    margin: 0% 1% -2% 1%;
  }
  body main .intro .loMejorDeLaWebPic {
    height: 65vh;
  }
  body main .memes h2 {
    font-size: 4em;
  }
  body main .memes .memesContainer img {
    height: 72vh;
  }
  body main .memes .p1 {
    font-size: 3.5em;
  }
  body main .memes .p2 {
    font-size: 3.5em;
  }
  body main .youtubers h2 {
    font-size: 4em;
    margin: 8% 20% -3% 19%;
  }
  body main .youtubers h3 {
    font-size: 3.5em;
    margin: 11% 1% 2% 0%;
  }
  body main .youtubers .youtubersIframe {
    margin: -23px 111px 76px 152px;
  }
  body main .canciones h2 {
    font-size: 4em;
    margin: 17% 13% 12% 12%;
  }
  body main .canciones h3 {
    font-size: 3.5em;
  }
  body main .canciones iframe {
    padding: 0px 217px;
  }
  body main .canciones p {
    font-size: 3.5em;
  }
  body main .juegos h2 {
    margin: 8% 20% 5% 19%;
    font-size: 4em;
  }
  body main .juegos .gamesList h3:nth-child(1) {
    margin: 1% 1% 1% 17%;
    font-size: 3.5em;
  }
  body main .juegos .gamesList h3:nth-child(3) {
    margin: 1% 1% 1% 16%;
    font-size: 3.5em;
  }
  body main .juegos .gamesList h3:nth-child(5) {
    margin: -5% 1% 5% 12%;
    font-size: 3.5em;
  }
  body main .juegos .gamesList h3:nth-child(7) {
    margin: -5% 1% 1% 17%;
    font-size: 3.5em;
  }
  body main .juegos .gamesList h3:nth-child(9) {
    margin: 7% 1% 1% 37%;
    font-size: 3.5em;
  }
  body main .juegos .gamesList img:nth-child(2) {
    height: 53vh;
    margin: 7% 1% 1% -31%;
  }
  body main .juegos .gamesList img:nth-child(4) {
    height: 53vh;
    margin: -35% 1% 13% 53%;
  }
  body main .juegos .gamesList img:nth-child(6) {
    height: 53vh;
    margin: 1% 1% 1% -33%;
  }
  body main .juegos .gamesList img:nth-child(8) {
    height: 53vh;
    margin: -35% 0% 1% 53%;
  }
  body main .juegos .gamesList img:nth-child(10) {
    height: 53vh;
    margin: 13% -10% 5% -32%;
  }
  body main .podcasts h2 {
    margin: 8% 9% 5% 7%;
    font-size: 4em;
  }
  body main .podcasts h3 {
    font-size: 3.5em;
    margin: 8% 1% -1% 1%;
  }
  body main .podcasts p {
    font-size: 3.5em;
    margin: 10% 1% 10% 0%;
  }
  body main .gotTheAnswer h2 {
    font-size: 4em;
    margin: 8% 20% 1% 20%;
  }
  body main .gotTheAnswer h3 {
    font-size: 4em;
    margin: 12% 0% -3% 0%;
  }
  body main .gotTheAnswer p {
    font-size: 4em;
    margin: 14% 1% 10% 1%;
  }
  body main .gotTheAnswer img {
    width: 46%;
    height: 55vh;
    margin: -2% 0% 3% 27%;
  }
  body main .intro img {
    width: 46%;
    height: 41vh;
    margin: -6% 0% 3% 28%;
  }
}
/*# sourceMappingURL=style.css.map */