@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300&family=Cedarville+Cursive&family=PT+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Alegreya Sans", sans-serif;
}

main,
aside,
footer {
  background-color: black;
  color: white;
}

//* A. Home:
body {
  header {
    .logoNav {
      margin: 23% 50% 18% -4%;
      width: 25px;
    }
  }

  main {
    .intro {
      a {
        text-decoration: none;
        color: white;
        cursor: pointer;

        h1 {
          font-size: 1.9em;
          font-family: "Cedarville Cursive", cursive;
          font-weight: 800;
          text-align: center;
          margin: 13% 0% 2% -2%;
          padding: 59px 0px;
        }
      }

      .introH2 {
        font-size: 1.5em;
        margin: -9% 14% 6% 13%;
        text-align: center;
      }

      .fotoIntro {
        width: 80%;
        margin: 0% 1% 8% 9%;
        border: 3px solid white;
        border-radius: 3px;
      }

      .pIntro {
        font-size: 1.2em;
        margin: -3% 15% 10% 11%;
        text-align: center;
      }
    }

    .nuevaCara {
      .pNuevaCara {
        font-size: 1.1em;
        font-weight: 900;
        border-top: 2px solid white;
        margin: 0% 15% -1% 14%;
        padding: 35px 0px;
        text-align: center;
      }

      form {
        background-color: #e5721b;
        color: white;
        width: 70%;
        height: 51vh;
        margin: -1% 30% 4% 15%;
        border: 3px solid white;
        border-radius: 18px;

        .fieldsetContainer {
          color: white;

          fieldset {
            legend {
              h3 {
                font-size: 1em;
                font-weight: 900;
                font-family: "PT Sans", sans-serif;
                margin: 9% 4% 17% 3%;
                text-align: center;
              }

              .pLegend {
                font-size: 0.75em;
                font-weight: 600;
                font-family: "PT Sans", sans-serif;
                margin: -5% 4% 3% 2%;
                text-align: center;
              }
            }

            .labels {
              font-size: 0.9em;
              font-weight: bold;
              font-family: "PT Sans", sans-serif;
              text-align: center;
              display: flex;
              flex-direction: column;

              .userType1 {
                margin: 4% -15% 11% -16%;

                a {
                  text-decoration: none;
                  color: white;
                  cursor: pointer;
                }
              }

              .userType2 {
                margin: 0% 30% 7% 9%;

                a {
                  text-decoration: none;
                  color: white;
                  cursor: pointer;
                }
              }

              .userType3 {
                margin: 3% 33% 7% 9%;

                a {
                  text-decoration: none;
                  color: white;
                  cursor: pointer;
                }
              }
            }
          }
        }
      }

      .followUsContainer {
        .pFollowUs {
          font-size: 1.3em;
          font-weight: 900;
          margin: 0% 12% 6% 13%;
          padding: 26px 1px;
          text-align: center;
        }

        a {
          text-decoration: none;
          color: #b4b4a4;
        }
      }
    }
  }

  //* Aside:

  aside {
    .h2Article {
      margin: -7% 9% 7% 10%;
      padding: 26px 1px;
      border-top: 2px solid white;
      text-align: center;
      font-weight: 900;
      font-size: 1.3em;
    }

    figure {
      .imgArticle {
        width: 32%;
        margin: -3% 1% 8% 35%;
      }

      figcaption {
        font-size: 1em;
        font-weight: 900;
        margin: -4% 7% 0% 8%;
        text-align: center;
      }
    }
  }

  footer {
    margin: -6% 0% 0% 0%;
    padding: 18px 0px;
    font-size: 0.9em;

    .p1Footer {
      margin: 25% 3% 0% 3%;
      text-align: center;
    }

    .p2Footer {
      margin: 5% 4% 3% 2%;
      text-align: center;
    }

    a {
      text-decoration: none;
      color: #b4b4a4;
    }
  }
}

//* B. Contactanos:
body {
  main {
    .intro {
      .title3-A {
        font-size: 1.2em;
        margin: -9% 1% 1% -1%;
        text-align: center;
      }

      .title3-B {
        font-size: 1.2em;
        margin: 9% 1% 10% -1%;
        text-align: center;
      }

      .contactUs3 {
        width: 49%;
        margin: 1% 27% 1% 24%;
      }
    }

    .contactForm {
      .contact {
        h2 {
          font-size: 1.5em;
          font-weight: 900;
          margin: 13% 27% 2% 23%;
          padding: 31px 0px;
          border-top: 2px solid white;
          text-align: center;
        }

        h3 {
          font-size: 1.1em;
          text-align: center;
          margin: 2% 11% 10% 10%;
        }

        .infoUser {
          font-size: 1em;
          text-align: center;

          .infoDelUsuario {
            margin: 5% 9% 6% 8%;
            display: flex;
            flex-direction: column;
          }
        }

        .typeDeConsulta {
          .typeDeConsultaH3 {
            font-size: 1em;
            text-align: center;
            margin: 8% 1% 0% 1%;
          }

          .tipoDeC {
            margin: 1% 2% 15% 17%;

            select {
              width: 98%;
              height: 5vh;
              text-align: center;
            }
          }
        }

        .mensaje {
          font-size: 1em;
          text-align: center;
          display: flex;
          flex-direction: column;
          margin: -7% 9% 0% 9%;
        }

        .novedades {
          .novedadesH3 {
            font-size: 1em;
            text-align: center;
            margin: 11% 1% 4% 0%;
          }

          .answer {
            font-size: 1.2em;
            text-align: center;
            margin: 3% -12% 7% 19%;
          }
        }

        .submit {
          width: 29%;
          padding: 6px 0px;
          font-size: 1.3em;
          font-weight: 900;
          margin: 5% 0% 11% 35%;
          text-align: center;
          background-color: white;
          border: 3px solid #2b2b2b;
          border-radius: 9px;

          &:hover {
            background-color: #838383;
          }

          a {
            text-decoration: none;
            color: black;
            font-weight: 900;

            &:hover {
              background-color: #838383;
              color: white;
            }
          }
        }
      }
    }

    .p3 {
      border-top: 2px solid white;
      font-size: 1.1em;
      font-weight: 900;
      text-align: center;
      margin: 0% 10% 0% 8%;
      padding: 26px 1px;
    }
  }
}

//* C. Novedades:

body {
  main {
    .intro {
      h2 {
        font-size: 1.5em;
        margin: -9% 18% 6% 19%;
        text-align: center;
      }

      .novedadesPic {
        width: 60%;
        height: 29vh;
        margin: 3% 10% 7% 19%;
        border: 3px solid white;
        border-radius: 4px;
      }
    }

    .sorteos {
      h2 {
        font-size: 1.5em;
        font-weight: 900;
        margin: 12% 29% 6% 25%;
        text-align: center;
        border-top: 2px solid white;
        padding: 28px 0px;
      }

      h3 {
        font-size: 1.2em;
        text-align: center;
        margin: 0% 1% 6% 0%;
      }

      img {
        width: 83%;
        margin: 3% 1% 5% 8%;
      }

      p {
        font-size: 1.2em;
        font-weight: 300;
        text-align: center;
        margin: 1% 2% 10% 1%;
      }
    }

    .patrocinadores {
      h2 {
        font-size: 1.5em;
        font-weight: 900;
        margin: 12% 29% 6% 26%;
        text-align: center;
        border-top: 2px solid white;
        padding: 28px 0px;
      }

      h3 {
        font-size: 1.2em;
        text-align: center;
        margin: 0% 1% 6% 0%;
      }

      img {
        width: 83%;
        margin: 3% 1% 5% 8%;
      }

      p {
        font-size: 1.2em;
        font-weight: 300;
        text-align: center;
        margin: 1% 2% 10% 1%;
      }
    }

    .seguinos {
      h2 {
        font-size: 1.5em;
        font-weight: 900;
        margin: 12% 26% 6% 25%;
        text-align: center;
        border-top: 2px solid white;
        padding: 28px 0px;
      }

      h3 {
        font-size: 1.2em;
        text-align: center;
        margin: 0% 1% 6% 0%;
      }

      img {
        width: 83%;
        margin: 3% 1% 5% 8%;
      }

      p {
        font-size: 1.2em;
        font-weight: 300;
        text-align: center;
        margin: 1% 2% 5% 1%;
      }
    }
  }
}

//* D. Lo mejor de la Web:
body {
  main {
    .intro {
      h2 {
        font-size: 1.5em;
        font-weight: 500;
        margin: -9% 18% 6% 19%;
        text-align: center;
      }

      .loMejorDeLaWebPic {
        width: 60%;
        height: 29vh;
        margin: 3% 10% 7% 19%;
        border: 1px solid white;
      }
    }

    .memes {
      h2 {
        font-size: 1.3em;
        font-weight: 900;
        margin: 9% 21% 10% 19%;
        padding: 35px 0px;
        text-align: center;
        border-top: 2px solid white;
      }

      .memesContainer {
        img {
          width: 70%;
          height: 41vh;
          margin: -10% 0% 20% 15%;
          align-items: center;
          border: 2px solid white;
          border-radius: 4px;
        }
      }

      .p1 {
        font-size: 1.3em;
        margin: -5% 21% 0% 19%;
        text-align: center;
      }

      .p2 {
        font-size: 1.3em;
        margin: 3% 21% 9% 19%;
        text-align: center;
      }
    }

    .youtubers {
      h2 {
        font-size: 1.3em;
        font-weight: 900;
        margin: 2% 21% 0% 19%;
        padding: 35px 0px;
        text-align: center;
        border-top: 2px solid white;
      }

      h3 {
        font-size: 1.1em;
        font-weight: 900;
        margin: 4% 20% 5% 19%;
        text-align: center;
      }

      .youtubersIframe {
        position: relative;
        height: 0;
        padding-bottom: 50%;
        margin: -23px 1px 76px 25px;

        iframe {
          position: absolute;
          top: 14px;
          left: 0;
          width: 92%;
          height: 100%;
        }
      }
    }

    .canciones {
      h2 {
        font-size: 1.3em;
        font-weight: 900;
        margin: 9% 21% 10% 19%;
        padding: 35px 0px;
        text-align: center;
        border-top: 2px solid white;
      }

      h3 {
        font-size: 1.1em;
        margin: -6% 2% 10% 0%;
        text-align: center;
      }

      iframe {
        margin: -4% 0% -4% 10%;
      }

      p {
        font-size: 1.1em;
        margin: 8% 8% 10% 7%;
        text-align: center;
      }
    }

    .juegos {
      h2 {
        font-size: 1.3em;
        font-weight: 900;
        margin: 9% 32% 10% 28%;
        padding: 35px 0px;
        text-align: center;
        border-top: 2px solid white;
      }

      .gamesList {
        h3 {
          font-size: 1.1em;
          font-weight: 900;
          margin: 9% 21% 10% 18%;
          text-align: center;
        }

        img {
          width: 59%;
          height: 21vh;
          margin: -6% 0% 3% 20%;
          align-items: center;
          border: 2px solid white;
          border-radius: 6px;
        }
      }
    }

    .podcasts {
      h2 {
        font-size: 1.3em;
        font-weight: 900;
        margin: 9% 17% 10% 16%;
        padding: 35px 0px;
        text-align: center;
        border-top: 2px solid white;
      }

      h3 {
        font-size: 1.1em;
        margin: 0% 2% 13% 0%;
        text-align: center;
      }

      p {
        font-size: 1.1em;
        font-weight: 900;
        margin: 9% 7% 11% 5%;
        text-align: center;
      }

      iframe {
        margin: -7% 1% 2% 10%;
      }
    }
  }
}

//* E. Respuesta del Form:
body {
  main {
    .intro {
      img {
        width: 70%;
        margin: -6% 0% 3% 15%;
        align-items: center;
        border: 2px solid white;
        border-radius: 18px;
      }
    }

    .gotTheAnswer {
      h2 {
        font-size: 1.3em;
        font-weight: 900;
        margin: 9% 21% 10% 19%;
        padding: 35px 0px;
        text-align: center;
        border-top: 2px solid white;
        border-bottom: 2px solid white;
      }

      h3 {
        font-size: 1.1em;
        margin: 9% 2% 10% 0%;
        text-align: center;
      }

      p {
        font-size: 1.1em;
        font-weight: 900;
        margin: 9% 21% 10% 19%;
        text-align: center;
      }

      img {
        width: 87%;
        height: 32vh;
        margin: -2% 0% 3% 6%;
        align-items: center;
        border: 7px solid white;
      }
    }
  }
}

//* F. Respuesta de la Mini Encuesta:
body {
  main {
    .intro {
      img {
        width: 70%;
        margin: -6% 0% 3% 15%;
        align-items: center;
        border: 2px solid white;
        border-radius: 18px;
      }
    }

    .recibimosRta {
      h2 {
        font-size: 1.3em;
        font-weight: 900;
        margin: 9% 21% 10% 19%;
        padding: 35px 0px;
        text-align: center;
        border-top: 2px solid white;
      }

      h3 {
        font-size: 1.1em;
        margin: -14% 12% 10% 11%;
        padding: 34px 0px;
        text-align: center;
        border-bottom: 2px solid white;
      }

      .pContainer {
        display: grid;
        background-color: white;
        color: black;
        width: 64%;
        margin: 1% 2% 9% 17%;
        text-align: center;
        align-items: center;
        border: 2px solid rgb(143, 143, 143);
        border-radius: 14px;

        .pContainerp1 {
          font-size: 1.1em;
          font-weight: 900;
          margin: 9% -6% 10% -7%;
          text-align: center;
        }

        .pContainerp2 {
          font-size: 1.1em;
          font-weight: 900;
          margin: -10% 21% 10% 19%;
          text-align: center;
        }
      }

      img {
        width: 60%;
        height: 31vh;
        margin: 1% 0% 3% 19%;
        align-items: center;
        border: 3px solid white;
      }
    }
  }
}

//* Media queries:
@media (min-width: 480px) {
  //* A. Home:
  body {
    main {
      .intro {
        a {
          h1 {
            font-size: 2.3em;
            margin: 13% 1% 5% 1%;
          }
        }

        .introH2 {
          font-size: 1.8em;
          margin: -9% 14% 9% 14%;
        }

        .fotoIntro {
          width: 70%;
          height: 27vh;
          margin: 0% 1% 9% 15%;
        }

        .pIntro {
          font-size: 1.3em;
          margin: -4% 11% 6% 11%;
        }
      }

      .nuevaCara {
        .pNuevaCara {
          font-size: 1.4em;
          margin: 0% 22% 2% 21%;
        }

        form {
          width: 70%;
          height: 51vh;
          margin: -2% 30% 4% 15%;

          .fieldsetContainer {
            fieldset {
              .labels {
                font-size: 1.2em;
              }
            }
          }
        }

        .followUsContainer {
          .pFollowUs {
            font-size: 1.4em;
          }
        }
      }
    }

    aside {
      margin: -7% 0%;

      .h2Article {
        font-size: 1.6em;
        margin: -2% 12%;
        padding: 36px 0px;
      }

      figure {
        .imgArticle {
          margin: 8% 1% 8% 35%;
        }

        figcaption {
          font-size: 1.4em;
        }
      }
    }

    footer {
      .p1Footer {
        font-size: 1.3em;
      }

      .p2Footer {
        font-size: 1.3em;
        margin: 4% 1% 6% 1%;
      }
    }
  }

  //* B. Contactanos:
  body {
    main {
      .intro {
        a {
          h1 {
            font-size: 2.3em;
            margin: 13% 1% 5% 1%;
          }
        }

        .title3-A {
          font-size: 1.8em;
          margin: -7% 1% 0% 1%;
        }

        .title3-B {
          font-size: 1.7em;
          margin: 10% 8% 5% 9%;
        }

        .contactUs3 {
          width: 70%;
          height: 27vh;
          margin: 1% 0% 1% 15%;
        }
      }

      .contactForm {
        .contact {
          h2 {
            font-size: 1.8em;
            margin: 12% 20% 4% 20%;
          }

          h3 {
            font-size: 1.6em;
            margin: 1% 13% 0% 14%;
          }

          .infoUser {
            font-size: 1.5em;
            margin: 12% 5% 1% 7%;
          }

          .typeDeConsulta {
            .typeDeConsultaH3 {
              font-size: 1.5em;
              margin: 7% 1% 0% 1%;
            }

            .tipoDeC {
              select {
                margin: 1% 1% 1% 17%;
              }
            }
          }

          .mensaje {
            font-size: 1.5em;
            padding: 0px 24px;
          }

          .novedades {
            .novedadesH3 {
              font-size: 1.3em;
            }

            .answer {
              font-size: 1.3em;
              margin: 1% -11% 1% 22%;
            }
          }

          .submit {
            font-size: 1.5em;
            width: 35%;
            padding: 11px 0px;
            margin: 9% 1% 14% 32%;
          }
        }
      }

      .p3 {
        font-size: 1.4em;
        margin: -2% 13% 1% 11%;
      }
    }
  }

  //* C. Novedades:
  body {
    main {
      .intro {
        a {
          h1 {
            font-size: 2.3em;
            margin: 13% 1% 5% 1%;
          }
        }

        h2 {
          font-size: 1.8em;
          margin: -9% 26% 6% 25%;
        }

        .novedadesPic {
          width: 70%;
          height: 34vh;
          margin: 3% 10% 7% 15%;
        }
      }

      .sorteos {
        h2 {
          font-size: 1.7em;
          margin: 12% 19% 6% 19%;
        }

        h3 {
          font-size: 1.5em;
        }

        img {
          width: 70%;
          margin: 3% 1% 5% 14%;
        }

        p {
          font-size: 1.5em;
        }
      }

      .patrocinadores {
        h2 {
          font-size: 1.7em;
          margin: 12% 19% 6% 19%;
        }

        h3 {
          font-size: 1.5em;
        }

        img {
          width: 70%;
          margin: 3% 1% 5% 14%;
        }

        p {
          font-size: 1.5em;
        }
      }

      .seguinos {
        h2 {
          font-size: 1.7em;
          margin: 12% 19% 6% 19%;
        }

        h3 {
          font-size: 1.5em;
        }

        img {
          width: 70%;
          margin: 3% 1% 5% 14%;
        }

        p {
          font-size: 1.5em;
        }
      }
    }
  }

  //* D. Lo mejor de la Web:
  body {
    main {
      .intro {
        a {
          h1 {
            font-size: 2.3em;
            margin: 13% 1% 5% 1%;
          }
        }

        h2 {
          font-size: 1.8em;
          margin: -9% 26% 6% 26%;
        }

        .loMejorDeLaWebPic {
          width: 70%;
          height: 37vh;
          margin: 3% 10% 7% 15%;
        }
      }

      .memes {
        h2 {
          font-size: 1.7em;
          margin: 9% 20% 10% 18%;
        }

        .memesContainer {
          img {
            width: 70%;
            height: 47vh;
          }
        }

        .p1 {
          font-size: 1.6em;
        }

        .p2 {
          font-size: 1.6em;
        }
      }

      .youtubers {
        h2 {
          font-size: 1.7em;
          margin: 9% 20% 10% 18%;
        }

        h3 {
          font-size: 1.5em;
        }

        .youtubersIframe {
          iframe {
            left: 4px;
          }
        }
      }

      .canciones {
        h2 {
          font-size: 1.7em;
          margin: 9% 20% 10% 18%;
        }

        h3 {
          font-size: 1.5em;
        }

        p {
          font-size: 1.5em;
        }
      }

      .juegos {
        h2 {
          font-size: 1.7em;
          margin: 9% 19% 10% 18%;
        }

        .gamesList {
          h3 {
            font-size: 1.5em;
          }

          img {
            height: 28vh;
          }
        }
      }

      .podcasts {
        h2 {
          font-size: 1.7em;
          margin: 9% 20% 10% 18%;
        }

        h3 {
          font-size: 1.5em;
          margin: 0% 1% 1% 0%;
        }

        p {
          font-size: 1.5em;
          margin: 16% 1% 11% 0%;
        }
      }
    }
  }

  //* E. Respuesta del Form:
  body {
    main {
      .intro {
        a {
          h1 {
            font-size: 2.3em;
            margin: 13% 1% 5% 1%;
          }
        }

        img {
          width: 70%;
          height: 27vh;
          margin: -7% 1% 1% 15%;
        }
      }

      .gotTheAnswer {
        h2 {
          font-size: 1.7em;
          margin: 11% 15% 1% 15%;
        }

        h3 {
          font-size: 1.5em;
          margin: 11% 1% -7% 0%;
        }

        p {
          font-size: 1.5em;
          margin: 20% 1% 10% 1%;
        }

        img {
          width: 80%;
          margin: -2% 0% 3% 10%;
        }
      }
    }
  }

  //* F. Respuesta de la Mini Encuesta:
  body {
    main {
      .intro {
        a {
          h1 {
            font-size: 2.3em;
            margin: 13% 1% 5% 1%;
          }
        }

        img {
          width: 70%;
          height: 27vh;
          margin: -7% 1% 1% 15%;
        }
      }

      .recibimosRta {
        h2 {
          font-size: 1.7em;
          margin: 11% 15% 6% 16%;
        }

        h3 {
          font-size: 1.4em;
          margin: -13% 15% 12% 16%;
        }

        .pContainer {
          width: 69%;
          height: 19vh;
          margin: 1% 2% 9% 16%;

          .pContainerp1 {
            font-size: 1.4em;
          }

          .pContainerp2 {
            font-size: 1.4em;
          }
        }

        img {
          width: 69%;
          height: 36vh;
          margin: 1% 0% 3% 16%;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  //* A. Home:
  body {
    main {
      .intro {
        a {
          h1 {
            font-size: 3.9em;
            margin: 8% 1% 9% 0%;
          }
        }

        .introH2 {
          font-size: 2.7em;
          margin: -6% 3% 15% 3%;
        }

        .fotoIntro {
          height: 35vh;
          width: 80%;
          margin: -2% 0% 10% 10%;
        }

        .pIntro {
          font-size: 2.4em;
          margin: -1% 9% 8% 7%;
        }
      }

      .nuevaCara {
        .pNuevaCara {
          font-size: 2.4em;
          margin: 0% 15% 3% 14%;
        }

        form {
          width: 70%;
          height: 51vh;
          margin: -2% 30% 4% 15%;

          .fieldsetContainer {
            fieldset {
              legend {
                h3 {
                  font-size: 2em;
                  margin: 9% 4% 12% 3%;
                }

                .pLegend {
                  font-size: 1.35em;
                  margin: -4% 16% 5% 13%;
                }
              }

              .labels {
                font-size: 2em;

                .userType1 {
                  margin: 1% 6% 6% 1%;
                }

                .userType2 {
                  margin: 1% 6% 6% -19%;
                }

                .userType3 {
                  margin: 1% 6% 6% -19%;
                }
              }
            }
          }
        }

        .followUsContainer {
          .pFollowUs {
            font-size: 2.4em;
            margin: 0% 19% 7% 17%;
          }
        }
      }
    }

    aside {
      margin: -7% 0%;

      .h2Article {
        font-size: 2.4em;
        margin: -2% 17% 1% 15%;
      }

      figure {
        .imgArticle {
          width: 44%;
          margin: 4% 1% 10% 28%;
        }

        figcaption {
          font-size: 2.2em;
          margin: -2% 0% 0% 0%;
        }
      }
    }

    footer {
      .p1Footer {
        font-size: 2.1em;
      }

      .p2Footer {
        font-size: 2.1em;
      }
    }
  }

  //* B. Contactanos:
  body {
    main {
      .intro {
        a {
          h1 {
            font-size: 3.5em;
            margin: 8% 1% 7% 1%;
          }
        }

        .title3-A {
          font-size: 2.5em;
          margin: -6% 5% 11% 4%;
        }

        .title3-B {
          font-size: 2.5em;
        }

        .contactUs3 {
          height: 35vh;
          width: 75%;
          margin: -2% 0% 10% 12%;
        }
      }

      .contactForm {
        .contact {
          h2 {
            font-size: 2.5em;
            margin: 1% 20% 7% 20%;
          }

          h3 {
            font-size: 2.3em;
            margin: 1% 18% 1% 17%;
          }

          .infoUser {
            font-size: 2.1em;
          }

          .typeDeConsulta {
            .typeDeConsultaH3 {
              font-size: 2.1em;
              margin: 8% 1% 0% 1%;
            }

            .tipoDeC {
              select {
                margin: 1% 1% 1% -5%;
                padding: 1px 170px;
              }
            }
          }

          .mensaje {
            font-size: 2.1em;
            padding: 0px 29px;
          }

          .novedades {
            .novedadesH3 {
              font-size: 2.1em;
            }

            .answer {
              font-size: 2.1em;
              margin: 1% -7% 1% 22%;
            }
          }

          .submit {
            font-size: 2.3em;
            padding: 17px 0px;
            margin: 8% 1% 13% 33%;
          }
        }
      }

      .p3 {
        font-size: 2.5em;
        margin: -2% 14% 6% 12%;
      }
    }

    footer {
      margin: -7% 0% 0% 0%;
    }
  }

  //* C. Novedades:
  body {
    main {
      .intro {
        a {
          h1 {
            font-size: 3.5em;
            margin: 8% 1% 7% 1%;
          }
        }

        h2 {
          font-size: 2.5em;
          margin: -6% 5% 11% 4%;
        }

        .novedadesPic {
          width: 60%;
          height: 28vh;
          margin: -1% 0% 3% 20%;
        }
      }

      .sorteos {
        h2 {
          font-size: 2.9em;
          margin: 12% 33% 6% 31%;
        }

        h3 {
          font-size: 2.5em;
        }

        p {
          font-size: 2.5em;
        }
      }

      .patrocinadores {
        h2 {
          font-size: 2.9em;
          margin: 12% 33% 6% 31%;
        }

        h3 {
          font-size: 2.5em;
        }

        p {
          font-size: 2.5em;
        }
      }

      .seguinos {
        h2 {
          font-size: 2.9em;
          margin: 12% 33% 6% 31%;
        }

        h3 {
          font-size: 2.5em;
        }

        p {
          font-size: 2.5em;
        }
      }
    }
  }

  //* D. Lo mejor de la Web:
  body {
    main {
      .intro {
        a {
          h1 {
            font-size: 3.9em;
            margin: 8% 1% 9% 0%;
          }
        }

        h2 {
          font-size: 2.5em;
          margin: -6% 5% 11% 4%;
        }

        .loMejorDeLaWebPic {
          width: 60%;
          height: 28vh;
          margin: -1% 0% 3% 20%;
        }
      }

      .memes {
        h2 {
          font-size: 2.9em;
          margin: 8% 21% 13% 21%;
        }

        .p1 {
          font-size: 2.3em;
        }

        .p2 {
          font-size: 2.3em;
          margin: 4% 1% 0% 0%;
        }
      }

      .youtubers {
        h2 {
          font-size: 2.9em;
          margin: 8% 21% 13% 21%;
        }

        h3 {
          font-size: 2.3em;
        }

        .youtubersIframe {
          iframe {
            left: 15px;
          }
        }
      }

      .canciones {
        h2 {
          font-size: 2.9em;
          margin: 8% 21% 13% 21%;
        }

        h3 {
          font-size: 2.3em;
        }

        iframe {
          padding: 0px 11px;
          margin: -2% 1% -1% 10%;
          height: 50vh;
        }

        p {
          font-size: 2.3em;
          margin: 8% 11% 0% 13%;
        }
      }

      .juegos {
        h2 {
          font-size: 2.9em;
          margin: 8% 13% 13% 14%;
        }

        .gamesList {
          h3 {
            font-size: 2.3em;
            margin: 9% 1% 9% 1%;
          }

          img {
            height: 28vh;
          }
        }
      }

      .podcasts {
        h2 {
          font-size: 2.9em;
          margin: 8% 23% 8% 22%;
        }

        h3 {
          font-size: 2.3em;
        }

        p {
          font-size: 2.3em;
          margin: 10% 1% 10% -3%;
        }

        iframe {
          margin: -6% 1% 2% 9%;
        }
      }
    }
  }

  //* E. Respuesta del Form:
  body {
    main {
      .intro {
        a {
          h1 {
            font-size: 3.5em;
            margin: 8% 1% 7% 1%;
          }
        }

        h2 {
          font-size: 2.5em;
          margin: -6% 5% 11% 4%;
        }

        img {
          width: 60%;
          height: 28vh;
          margin: -1% 0% 3% 20%;
        }
      }

      .gotTheAnswer {
        h2 {
          font-size: 2.6em;
          margin: 8% 30% 1% 27%;
        }

        h3 {
          font-size: 2.4em;
          margin: 13% 1% 0% 0%;
        }

        p {
          font-size: 2.4em;
          margin: 14% 1% 10% -1%;
        }

        img {
          width: 68%;
          height: 31vh;
          margin: -2% 0% 3% 16%;
        }
      }
    }
  }

  //* F. Respuesta de la Mini Encuesta:
  body {
    main {
      .intro {
        a {
          h1 {
            font-size: 3.9em;
            margin: 8% 1% 9% 0%;
          }
        }

        img {
          width: 70%;
          height: 31vh;
          margin: -6% 0% 4% 15%;
        }
      }

      .recibimosRta {
        h2 {
          font-size: 2.4em;
          margin: 7% 11% 18% 11%;
        }

        h3 {
          font-size: 2.2em;
          margin: -17% 11% 10% 12%;
        }

        .pContainer {
          height: 22vh;

          .pContainerp1 {
            font-size: 2.4em;
            margin: 9% -3% 9% -3%;
          }

          .pContainerp2 {
            font-size: 2.4em;
          }
        }

        img {
          width: 67%;
          height: 39vh;
          margin: 1% 0% 3% 17%;
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  //* A. Home:
  body {
    main {
      margin: -2% 0%;

      .intro {
        a {
          h1 {
            font-size: 4.1em;
            margin: 8% 1% 9% 2%;
          }
        }

        .introH2 {
          font-size: 2.9em;
          margin: -6% 3% 13% 5%;
        }

        .fotoIntro {
          height: 34vh;
          width: 60%;
          margin: -2% 0% 10% 21%;
        }

        .pIntro {
          font-size: 2.5em;
        }
      }

      .nuevaCara {
        .pNuevaCara {
          font-size: 2.5em;
        }

        form {
          width: 70%;
          height: 68vh;

          .fieldsetContainer {
            fieldset {
              legend {
                h3 {
                  margin: 9% 18% 12% 19%;
                }

                .pLegend {
                  margin: -4% 24% 5% 24%;
                }
              }

              .labels {
                .userType1 {
                  margin: 1% 6% 6% 3%;
                }

                .userType2 {
                  margin: 1% 6% 6% -12%;
                }

                .userType3 {
                  margin: 1% 6% 6% -14%;
                }
              }
            }
          }
        }

        .followUsContainer {
          .pFollowUs {
            font-size: 2.5em;
            margin: 0% 19% 7% 19%;
          }
        }
      }
    }

    aside {
      margin: -8% 0%;

      .h2Article {
        font-size: 2.5em;
        margin: -2% 15% 1% 16%;
      }

      figure {
        .imgArticle {
          width: 41%;
          margin: 4% 1% 10% 30%;
        }

        figcaption {
          font-size: 2.2em;
          margin: -6% 0% 0% 2%;
        }
      }
    }

    footer {
      .p1Footer {
        margin: 22% 6% -2% 6%;
      }

      .p2Footer {
        margin: 4% 0% 4% 1%;
      }
    }
  }

  //* B. Contactanos:
  body {
    main {
      .intro {
        .title3-A {
          font-size: 2.7em;
          margin: -6% 5% 11% 6%;
        }

        .title3-B {
          font-size: 2.7em;
          margin: -3% 1% 7% 2%;
        }

        .contactUs3 {
          height: 38vh;
          width: 49%;
          margin: -2% 0% 10% 26%;
        }
      }

      .contactForm {
        .contact {
          h2 {
            font-size: 2.7em;
            margin: 1% 25% 7% 26%;
          }

          h3 {
            font-size: 2.5em;
            margin: -1% 18% -3% 19%;
          }

          .infoUser {
            font-size: 2.5em;

            .infoDelUsuario {
              margin: 5% 17% 6% 16%;
            }
          }

          .typeDeConsulta {
            .typeDeConsultaH3 {
              font-size: 2.5em;
              margin: 7% 0% 0% 1%;
            }

            .tipoDeC {
              select {
                margin: 1% 1% 1% 7%;
                padding: 0px 186px;
                height: 6vh;
              }
            }
          }

          .mensaje {
            font-size: 2.5em;
            padding: 0px 111px;
            margin: -8% 9% 0% 10%;
          }

          .novedades {
            .novedadesH3 {
              font-size: 2.5em;
            }

            .answer {
              font-size: 2.5em;
              margin: 1% -18% 1% 27%;
            }
          }

          .submit {
            font-size: 2.5em;
            padding: 26px 0px;
            margin: 8% 1% 13% 36%;
            width: 27%;
          }
        }

        .p3 {
          margin: -2% 16% 6% 16%;
        }
      }
    }
  }

  //* C. Novedades:
  body {
    main {
      .intro {
        h2 {
          margin: -10% 1% 9% 2%;
        }

        .novedadesPic {
          width: 40%;
          height: 36vh;
          margin: 0% 0% 3% 31%;
        }
      }

      .sorteos {
        h2 {
          font-size: 3em;
          margin: 12% 32% 6% 33%;
        }

        h3 {
          font-size: 2.7em;
          margin: -2% 0% 6% 1%;
        }

        img {
          width: 65%;
          margin: 3% 1% 5% 18%;
        }

        p {
          font-size: 2.7em;
          margin: 0% 1% -2% 1%;
        }
      }

      .patrocinadores {
        h2 {
          font-size: 3em;
          margin: 12% 32% 6% 33%;
        }

        h3 {
          font-size: 2.7em;
          margin: -2% 0% 6% 1%;
        }

        img {
          width: 65%;
          margin: 3% 1% 5% 18%;
        }

        p {
          font-size: 2.7em;
          margin: 0% 1% -2% 2%;
        }
      }

      .seguinos {
        h2 {
          font-size: 3em;
          margin: 12% 32% 6% 33%;
        }

        h3 {
          font-size: 2.7em;
          margin: -2% 0% 6% 1%;
        }

        img {
          width: 65%;
          margin: 3% 1% 5% 18%;
        }

        p {
          font-size: 2.7em;
          margin: 0% 1% -2% 1%;
        }
      }
    }
  }

  //* D. Lo mejor de la Web:
  body {
    main {
      .intro {
        .loMejorDeLaWebPic {
          width: 50%;
          height: 36vh;
          margin: -1% 0% 3% 25%;
        }
      }

      .memes {
        h2 {
          margin: 8% 26% 5% 26%;
        }

        .memesContainer {
          display: flex;
          flex-direction: column;

          img {
            width: 46%;
            height: 54vh;
            margin: 0% 1% 5% 28%;
          }
        }

        .p1 {
          font-size: 2.5em;
          margin: 4% 0%;
        }

        .p2 {
          font-size: 2.5em;
        }
      }

      .youtubers {
        h2 {
          margin: 8% 14% 5% 15%;
        }

        h3 {
          font-size: 2.5em;
          margin: 13% 1% 4% 1%;
        }

        .youtubersIframe {
          iframe {
            left: 26px;
          }
        }
      }

      .canciones {
        h2 {
          margin: 17% 12% 12% 12%;
        }

        h3 {
          font-size: 2.5em;
          margin: -6% 1% 10% 1%;
        }

        iframe {
          padding: 0px 136px;
          margin: -2% 1% -1% 10%;
          height: 54vh;
        }

        p {
          font-size: 2.5em;
          margin: 8% 11% 0% 10%;
        }
      }

      .juegos {
        h2 {
          margin: 8% 22% 5% 23%;
        }

        .gamesList {
          h3 {
            font-size: 2.5em;
          }

          img {
            height: 36vh;
          }
        }
      }

      .podcasts {
        h2 {
          margin: 8% 19% 5% 19%;
        }

        h3 {
          font-size: 2.5em;
          margin: 0% 1%;
        }

        p {
          font-size: 2.5em;
          margin: 10% 1% 10% 0%;
        }

        iframe {
          margin: -8% 1% 0% 10%;
        }
      }
    }
  }

  //* E. Respuesta del Form:
  body {
    main {
      .gotTheAnswer {
        h2 {
          font-size: 2.7em;
          margin: 8% 23% -3% 25%;
        }

        h3 {
          font-size: 2.5em;
          margin: 12% 0% -3% 0%;
        }

        p {
          font-size: 2.5em;
          margin: 14% 1% 10% 3%;
        }

        img {
          width: 50%;
          height: 35vh;
          margin: -2% 0% 3% 26%;
        }
      }
    }
  }

  //* F. Respuesta de la Mini Encuesta:
  body {
    main {
      .intro {
        img {
          width: 52%;
          height: 35vh;
          margin: -6% 0% 4% 25%;
        }
      }

      .recibimosRta {
        h2 {
          font-size: 2.5em;
          margin: 7% 14% 18% 16%;
        }

        h3 {
          font-size: 2.4em;
          margin: -17% 14% 10% 16%;
        }

        .pContainer {
          height: 24vh;
          width: 60%;
          margin: 0% 5% 9% 21%;
        }

        img {
          width: 51%;
          margin: 1% 0% 3% 25%;
        }
      }
    }
  }
}

@media (min-width: 1440px) {
  //* A. Home:
  body {
    main {
      margin: -7% 0%;

      .intro {
        a {
          h1 {
            font-size: 5em;
            margin: 11% 1% 9% 3%;
          }
        }

        .introH2 {
          font-size: 3.5em;
        }

        .fotoIntro {
          height: 42vh;
          width: 49%;
          margin: -3% 0% 10% 26%;
        }

        .pIntro {
          font-size: 3.5em;
          margin: -2% 14% 7% 15%;
        }
      }

      .nuevaCara {
        .pNuevaCara {
          font-size: 3.5em;
          margin: 0% 26% 7% 26%;
        }

        form {
          height: 94vh;

          .fieldsetContainer {
            fieldset {
              legend {
                h3 {
                  font-size: 2.5em;
                }

                .pLegend {
                  margin: -4% 16% 5% 16%;
                  font-size: 2.1em;
                }
              }

              .labels {
                font-size: 2.7em;

                .userType1 {
                  margin: 2% 6% 6% 3%;
                }

                .userType2 {
                  margin: 1% 6% 6% -11%;
                }

                .userType3 {
                  margin: 1% 6% 6% -13%;
                }
              }
            }
          }
        }

        .followUsContainer {
          .pFollowUs {
            font-size: 3.5em;
            margin: 0% 19% 7% 19%;
          }
        }
      }
    }

    aside {
      .h2Article {
        font-size: 3.1em;
      }

      figure {
        .imgArticle {
          width: 41%;
          margin: 7% 1% 10% 30%;
        }

        figcaption {
          font-size: 3em;
        }
      }
    }

    footer {
      .p1Footer {
        font-size: 2.5em;
        margin: 22% 10% -2% 11%;
      }

      .p2Footer {
        font-size: 2.5em;
        margin: 4% 0% 4% 2%;
      }
    }
  }

  //* B. Contactanos:
  body {
    main {
      .intro {
        .title3-A {
          font-size: 3.5em;
          margin: -7% 1% 10% 4%;
        }

        .title3-B {
          font-size: 3.5em;
          margin: -3% 1% 8% 2%;
        }

        .contactUs3 {
          height: 35vh;
          width: 42%;
          margin: -2% 0% 10% 31%;
        }
      }

      .contactForm {
        .contact {
          h2 {
            font-size: 3.5em;
            margin: 1% 27% 7% 31%;
          }

          h3 {
            font-size: 3.3em;
            margin: -1% 22% -3% 27%;
          }

          .infoUser {
            font-size: 3.1em;

            .infoDelUsuario {
              margin: 5% 20% 6% 23%;
            }
          }

          .typeDeConsulta {
            .typeDeConsultaH3 {
              font-size: 3.1em;
              margin: 7% 0% 0% 5%;
            }

            .tipoDeC {
              margin: 1% 2% 15% 24%;

              select {
                margin: 0% 1% 1% 6%;
                padding: 0px 249px;
                height: 7vh;
              }
            }
          }

          .mensaje {
            font-size: 3.1em;
            padding: 0px 231px;
            margin: -8% 6% 0% 11%;
          }

          .novedades {
            .novedadesH3 {
              font-size: 3.5em;
            }

            .answer {
              font-size: 3.1em;
              margin: 1% -12% 1% 28%;
            }
          }

          .submit {
            font-size: 3.1em;
            padding: 23px 0px;
            margin: 9% 1% 13% 41%;
            width: 21%;
          }
        }

        .p3 {
          margin: -2% 23% 6% 25%;
          font-size: 3.3em;
        }
      }
    }
  }

  //* C. Novedades:
  body {
    main {
      .intro {
        h2 {
          margin: -6% 1% 9% 3%;
          font-size: 3.5em;
        }

        .novedadesPic {
          width: 50%;
          height: 49vh;
          margin: 0% 0% 2% 27%;
        }
      }

      .sorteos {
        h2 {
          font-size: 3.5em;
          margin: 12% 23% 6% 26%;
        }

        h3 {
          font-size: 3.3em;
          margin: -2% 0% 6% 3%;
        }

        img {
          width: 60%;
          margin: 3% 1% 5% 22%;
        }

        p {
          font-size: 3.3em;
          margin: 0% 1% -2% 5%;
        }
      }

      .patrocinadores {
        h2 {
          font-size: 3.5em;
          margin: 12% 23% 6% 26%;
        }

        h3 {
          font-size: 3.3em;
          margin: -2% 0% 6% 3%;
        }

        img {
          width: 60%;
          margin: 3% 1% 5% 22%;
        }

        p {
          font-size: 3.3em;
          margin: 0% 1% -2% 4%;
        }
      }

      .seguinos {
        h2 {
          font-size: 3.5em;
          margin: 12% 23% 6% 26%;
        }

        h3 {
          font-size: 3.3em;
          margin: -2% 0% 6% 3%;
        }

        img {
          width: 60%;
          margin: 3% 1% 5% 22%;
        }

        p {
          font-size: 3.3em;
          margin: 0% 1% -2% 4%;
        }
      }
    }
  }

  //* D. Lo mejor de la Web:
  body {
    main {
      .intro {
        .loMejorDeLaWebPic {
          height: 50vh;
          margin: -1% 0% 3% 26%;
        }
      }

      .memes {
        h2 {
          margin: 8% 24% 5% 26%;
          font-size: 3.5em;
        }

        .memesContainer {
          flex-direction: row;
          flex-wrap: wrap;

          img {
            width: 38%;
            height: 62vh;
            margin: 0% -4% 9% 9%;

            &:last-child {
              margin: 1% 1% 1% 31%;
            }
          }
        }

        .p1 {
          font-size: 3.3em;
          margin: 7% 2% 0% 1%;
        }

        .p2 {
          font-size: 3.3em;
          margin: 3% 2% -1% 0%;
        }
      }

      .youtubers {
        h2 {
          font-size: 3.5em;
          margin: 8% 20% -3% 21%;
        }

        h3 {
          font-size: 3.2em;
          margin: 10% 1% 3% 1%;
        }

        .youtubersIframe {
          margin: -23px 148px 76px 180px;
        }
      }

      .canciones {
        h2 {
          font-size: 3.5em;
          margin: 17% 15% 12% 15%;
        }

        h3 {
          font-size: 3.2em;
          margin: -6% 1% 10% -1%;
        }

        iframe {
          padding: 0px 175px;
          margin: -2% -14% -1% 9%;
          height: 74vh;
        }

        p {
          font-size: 3.2em;
          margin: 8% 22% 0% 20%;
        }
      }

      .juegos {
        h2 {
          margin: 8% 22% 5% 20%;
          font-size: 3.5em;
        }

        .gamesList {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;

          h3:nth-child(1) {
            margin: 1% 1% 1% 15%;
            font-size: 3.2em;
          }

          h3:nth-child(3) {
            margin: 1% 1% 1% 20%;
            font-size: 3.2em;
          }

          h3:nth-child(5) {
            margin: -5% 1% 5% 11%;
            font-size: 3.2em;
          }

          h3:nth-child(7) {
            margin: -5% 1% 1% 21%;
            font-size: 3.2em;
          }

          h3:nth-child(9) {
            margin: 7% 1% 1% 38%;
            font-size: 3.2em;
          }

          img:nth-child(2) {
            width: 38%;
            height: 46vh;
            margin: 7% 1% 1% -31%;
          }

          img:nth-child(4) {
            width: 38%;
            height: 46vh;
            margin: -34% 1% 13% 55%;
          }

          img:nth-child(6) {
            width: 38%;
            height: 46vh;
            margin: 1% 1% 1% -34%;
          }

          img:nth-child(8) {
            width: 38%;
            height: 46vh;
            margin: -34% 0% 1% 55%;
          }

          img:nth-child(10) {
            width: 38%;
            height: 46vh;
            margin: 13% -10% 5% -33%;
          }
        }
      }

      .podcasts {
        h2 {
          margin: 8% 10% 5% 10%;
          font-size: 3.5em;
        }

        h3 {
          font-size: 3.2em;
          margin: 8% 1% -1% 2%;
        }

        p {
          font-size: 3.2em;
          margin: 10% 1% 10% 1%;
        }
      }
    }
  }

  //* E. Respuesta del Form:
  body {
    main {
      .gotTheAnswer {
        h2 {
          font-size: 3.5em;
          margin: 8% 24% -3% 27%;
        }
        h3 {
          font-size: 3.5em;
          margin: 12% 0% -3% 2%;
        }
        p {
          font-size: 3.5em;
          margin: 14% 1% 10% 3%;
        }
        img {
          width: 40%;
          height: 44vh;
          margin: -2% 0% 3% 31%;
        }
      }
    }
  }

  //* F. Respuesta de la Mini Encuesta:
  body {
    main {
      .intro {
        img {
          width: 40%;
          height: 33vh;
          margin: -6% 0% 3% 31%;
        }
      }

      .recibimosRta {
        h2 {
          font-size: 3.5em;
          margin: 8% 12% 18% 16%;
        }

        h3 {
          font-size: 3.5em;
          margin: -17% 12% 10% 16%;
        }

        .pContainer {
          height: 26vh;
          width: 49%;
          margin: 0% 5% 9% 27%;

          .pContainerp1 {
            font-size: 3.2em;
          }

          .pContainerp2 {
            font-size: 3.2em;
          }
        }

        img {
          width: 30%;
          margin: 1% 0% 3% 36%;
        }
      }
    }
  }
}

@media (min-width: 1600px) {
  //* A. Home:
  body {
    main {
      .intro {
        a {
          h1 {
            margin: 11% 1% 9% 2%;
          }
        }
        .pIntro {
          margin: -2% 17% 7% 19%;
        }
      }

      .nuevaCara {
        .pNuevaCara {
          font-size: 3.5em;
          margin: 0% 23% 7% 24%;
        }

        form {
          height: 90vh;
          .fieldsetContainer {
            fieldset {
              legend {
                h3 {
                  margin: 7% 1% 12% 1%;
                }
                .pLegend {
                  margin: -4% 20% 5% 20%;
                }
              }

              .labels {
                font-size: 2.9em;
                .userType1 {
                  margin: 2% 6% 6% 5%;
                }

                .userType2 {
                  margin: 1% 6% 6% -9%;
                }

                .userType3 {
                  margin: 1% 6% 6% -11%;
                }
              }
            }
          }
        }

        .followUsContainer {
          .pFollowUs {
            margin: 0% 23% 7% 23%;
          }
        }
      }
    }

    aside {
      .h2Article {
        font-size: 3.1em;
        margin: 8% 23% 1% 24%;
      }
      figure {
        figcaption {
          margin: -6% 0% 0% 1%;
        }
      }
    }

    footer {
      .p1Footer {
        font-size: 2.8em;
      }

      .p2Footer {
        font-size: 2.8em;
      }
    }
  }

  //* B. Contactanos:
  body {
    main {
      .intro {
        .title3-A {
          font-size: 4em;
        }
        .title3-B {
          font-size: 4em;
        }
        .contactUs3 {
          height: 44vh;
          width: 40%;
          margin: -2% 0% 10% 30%;
        }
      }

      .contactForm {
        .contact {
          h2 {
            font-size: 4em;
            margin: 1% 29% 7% 29%;
          }
          h3 {
            font-size: 3.5em;
            margin: -1% 24% -3% 25%;
          }
          .infoUser {
            font-size: 3.5em;
            .infoDelUsuario {
              margin: 5% 23% 6% 22%;
            }
          }

          .typeDeConsulta {
            .typeDeConsultaH3 {
              font-size: 3.5em;
              margin: 7% 0% 0% 1%;
            }
            .tipoDeC {
              select {
                margin: 0% 1% 1% 5%;
                padding: 0px 274px;
                height: 8vh;
              }
            }
          }

          .mensaje {
            font-size: 3.5em;
            padding: 0px 263px;
            margin: -9% 8% 0% 10%;
          }

          .novedades {
            .answer {
              font-size: 3.3em;
            }
          }

          .submit {
            font-size: 3.5em;
            padding: 32px 0px;
            margin: 9% 1% 13% 40%;
            width: 21%;
          }
        }
        .p3 {
          margin: -2% 19% 6% 20%;
          font-size: 3.5em;
        }
      }
    }
  }

  //* C. Novedades:
  body {
    main {
      .intro {
        h2 {
          margin: -6% 1% 9% 1%;
        }
        .novedadesPic {
          width: 52%;
          height: 55vh;
          margin: 0% 0% 2% 24%;
        }
      }

      .sorteos {
        h2 {
          font-size: 4em;
          margin: 12% 21% 6% 22%;
        }
        h3 {
          margin: -1% 0% 6% 0%;
        }
        img {
          margin: 3% 1% 5% 20%;
        }
        p {
          margin: 0% 1% -2% 0%;
        }
      }

      .patrocinadores {
        h2 {
          font-size: 4em;
          margin: 12% 21% 6% 21%;
        }
        h3 {
          margin: -1% 0% 6% 0%;
        }
        img {
          margin: 3% 1% 5% 20%;
        }
        p {
          margin: 0% 1% -2% 0%;
        }
      }

      .seguinos {
        h2 {
          font-size: 4em;
          margin: 12% 21% 6% 21%;
        }
        h3 {
          margin: -1% 0% 6% 0%;
        }
        img {
          margin: 3% 1% 5% 20%;
        }
        p {
          margin: 0% 1% -2% 1%;
        }
      }
    }
  }

  //* D. Lo mejor de la Web:
  body {
    main {
      .intro {
        .loMejorDeLaWebPic {
          height: 65vh;
        }
      }

      .memes {
        h2 {
          font-size: 4em;
        }
        .memesContainer {
          img {
            height: 72vh;
          }
        }
        .p1 {
          font-size: 3.5em;
        }
        .p2 {
          font-size: 3.5em;
        }
      }

      .youtubers {
        h2 {
          font-size: 4em;
          margin: 8% 20% -3% 19%;
        }
        h3 {
          font-size: 3.5em;
          margin: 11% 1% 2% 0%;
        }
        .youtubersIframe {
          margin: -23px 111px 76px 152px;
        }
      }

      .canciones {
        h2 {
          font-size: 4em;
          margin: 17% 13% 12% 12%;
        }
        h3 {
          font-size: 3.5em;
        }
        iframe {
          padding: 0px 217px;
        }
        p {
          font-size: 3.5em;
        }
      }

      .juegos {
        h2 {
          margin: 8% 20% 5% 19%;
          font-size: 4em;
        }

        .gamesList {
          h3:nth-child(1) {
            margin: 1% 1% 1% 17%;
            font-size: 3.5em;
          }
          h3:nth-child(3) {
            margin: 1% 1% 1% 16%;
            font-size: 3.5em;
          }
          h3:nth-child(5) {
            margin: -5% 1% 5% 12%;
            font-size: 3.5em;
          }
          h3:nth-child(7) {
            margin: -5% 1% 1% 17%;
            font-size: 3.5em;
          }
          h3:nth-child(9) {
            margin: 7% 1% 1% 37%;
            font-size: 3.5em;
          }

          img:nth-child(2) {
            height: 53vh;
            margin: 7% 1% 1% -31%;
          }
          img:nth-child(4) {
            height: 53vh;
            margin: -35% 1% 13% 53%;
          }
          img:nth-child(6) {
            height: 53vh;
            margin: 1% 1% 1% -33%;
          }
          img:nth-child(8) {
            height: 53vh;
            margin: -35% 0% 1% 53%;
          }
          img:nth-child(10) {
            height: 53vh;
            margin: 13% -10% 5% -32%;
          }
        }
      }

      .podcasts {
        h2 {
          margin: 8% 9% 5% 7%;
          font-size: 4em;
        }
        h3 {
          font-size: 3.5em;
          margin: 8% 1% -1% 1%;
        }
        p {
          font-size: 3.5em;
          margin: 10% 1% 10% 0%;
        }
      }
    }
  }

  //* E. Respuesta del Form:
  body {
    main {
      .gotTheAnswer {
        h2 {
          font-size: 4em;
          margin: 8% 20% 1% 20%;
        }
        h3 {
          font-size: 4em;
          margin: 12% 0% -3% 0%;
        }
        p {
          font-size: 4em;
          margin: 14% 1% 10% 1%;
        }
        img {
          width: 46%;
          height: 55vh;
          margin: -2% 0% 3% 27%;
        }
      }
    }
  }

  //* F. Respuesta de la Mini Encuesta:
  body {
    main {
      .intro {
        img {
          width: 46%;
          height: 41vh;
          margin: -6% 0% 3% 28%;
        }
      }
    }
  }
}
